<if condition="event">
  <div class="event daily" style='background-image: url(//{{ dato._meta.imgixHost + event.featureImage.path }}?bm=normal&balph=60&blend={{ event.canceled == true ? "eeeeee" : "322D5A"}}&w=400&fit=clip&auto=compress,format); background-size: cover;' data-startDate="{{ event.startDateTime.toISO() }}" data-endDate="{{ event.endDateTime.toISO() }}" class='{{ event.canceled == true ? "canceled" : ""}}' itemscope itemtype="http://schema.org/Event" >
    <a href="/event/{{event.slug}}">
      <div class="desc">
        <if condition="event.canceled == true">
          <span class="canceled">Canceled</span>
        </if>
        <small>{{ event.organizer }}</small>
        <h3 itemprop="name">{{ event.title }}</h3>

        <span itemprop="description" style="display:none;">{{ event.description }}</span>
        <span itemprop="image" style="display:none;">{{ dato._meta.imgixHost + event.featureImage.path }}</span>
        <span itemprop="url" class="url" style="display:none;">https://www.tomediaarts.org/event/{{event.slug}}</span>


        <span itemprop="image" url="https://{{ dato._meta.imgixHost + event.featureImage.path }}?bm=normal&balph=60&blend=322D5A"></span>


        <div class="when">{{ event.humanTime}}</div>
      </div>
      <div class="where" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">Toronto Media Arts Centre</span><br>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">32 Lisgar Street</span><br>
          <span itemprop="addressLocality">Toronto</span><br>
          <span itemprop="addressRegion">ON</span>
        </div>
      </div>

      <div class="register">
        <if condition="dateFns.isSameDay(now, event.startDateTimeParsed) == true">

          <p class="thisweek">Today</p>
        </if>
        <elseif condition="dateFns.isSameDay(event.startDateTimeParsed, dateFns.addDays(nowParsed, 1)) == true">
          <p class="thisweek">Tomorrow</p>
        </elseif>

        <elseif condition="dateFns.isSameWeek(event.startDateTimeParsed, nowParsed) == true && dateFns.isAfter(event.startDateTimeParsed, nowParsed)">
          <p class="thisweek">
            {{ event.startDateTime.toLocaleString({ weekday: 'long' }) }}
          </p>
        </elseif>
      </div>
    </a>
  </div>
</if>