<footer>
  <span class="download-platforms">
    <a href="http://twitter.com/TOMediaArts">
      <span class="icon icon-twitter" title="Twitter"></span>
    </a>
    <a href="https://www.facebook.com/pages/Toronto-Media-Arts-Centre/842345815814723">
      <span class="icon icon-facebook" title="Facebook"></span>
    </a>
  </span>
  <div>
    <p>Interested in sponsoring, partnering with, or joining TMAC? <a href="mailto:info@tomediaarts.org">Email us!</a></p>
    <p>© 2011-{{ new Date().getFullYear() }} Toronto Media Arts Cluster<br>Registered Charity 847429701RR0001<br><a href="https://governance.tomediaarts.org">Governance</a><br>Header photo by <a href="http://yulischeidt.com/">Yuli Scheidt Photography</a></p>
  </div>
  <div class="vcard" id>
    <div class="org">Toronto Media Arts Centre</div>
    <a class="email" href="mailto:info@tomediaarts.org">info@tomediaarts.org</a>
    <div class="adr"><div class="street-address">32 Lisgar Street</div><span class="locality">Toronto</span> ,<span class="region">ON</span> ,<span class="postal-code">M6J 0C9</span><span class="country-name">Canada</span></div>
  </div>
</footer>