<footer>
  <div class="container">
    <div>
      <h3>Toronto Media Arts Centre</h3>
      <p>32 Lisgar Street<br> Toronto, ON M6J 0C9<br> Canada</p>
      <p>
        <i class="fas fa-map-marker-alt"></i>
        <a href="/location">How to find us</a>
      </p>
      <p>
        <i class="fab fa-accessible-icon"></i>
        <a href="https://policies.tomediaarts.org/procedure-manual/policies/accessibility">Accessibility information</a>
      </p>
      <p class="charitable-number">Registered Charity 847429701RR0001</p>

      <p><a href="" class="btn btn-alt">Donate</a></p>
    </div>
    <div>
      <h3>Contact us</h3>
      <section id="contact">
        <span>
          <a href="mailto:info@tomediaarts.org">
            info@tomediaarts.org
          </a>
        </span>
        <span>
          <a href="tel:6476896005">
            <span class="tel">(647) 689-6005</span>
          </a>
        </span>
      </section>

      <h3>Social</h3>
      <section id="social">
        <a href="https://www.instagram.com/tomediaarts/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/tomediaarts">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/TOMediaArts">
          <i class="fab fa-facebook"></i>
        </a>
      </section>
    </div>
    <div>

      <h3>Hours</h3>
      <p>10am–6pm Mon-Fri</p>
      <p>Open later + on weekends for events and exhibitions.</p>
      <p>Closed on all stat holidays.</p>
      <div class="vcard" id>
        <div class="org">Toronto Media Arts Centre</div>
        <a class="email" href="mailto:info@tomediaarts.org">info@tomediaarts.org</a>
        <div class="adr"><div class="street-address">32 Lisgar Street</div><span class="locality">Toronto</span> ,<span class="region">ON</span> ,<span class="postal-code">M6J 0C9</span><span class="country-name">Canada</span></div>
      </div>
    </div>
    <div>
      <h3>Members</h3>

      <div class="orgs" id="members">
        <div class="item member">
          <a href="http://cfmdc.org">
            <img class="img-fluid" src="/images/logos/july18_cfmdc_logo.jpg" alt>
          </a>
        </div>
        <div class="item member">
          <a href="http://charlesstreetvideo.com/">
            <img class="img-fluid" src="/images/logos/CSV_logo.gif" alt>
          </a>
        </div>
        <div class="item member">
          <a href="http://dmg.to">
            <img class="img-fluid" src="/images/logos/dmg-logo.svg" alt>
          </a>
        </div>
        <div class="item member">
          <a href="http://gammaspace.ca">
            <img class="img-fluid" src="/images/logos/gamma_space_logo_black@4x.png" alt>
          </a>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">© 2011-{{ new Date().getFullYear() }} Toronto Media Arts Cluster<br><a href="https://governance.tomediaarts.org">Governance</a></p>
</footer>

