<li><a class="{{ pageId === 'news' ? 'current' : '' }}" href="/news">#TMACtion</a></li>
<li><a class="{{ pageId === 'events' ? 'current' : '' }}" href="/events">Events</a></li>
<li><a class="{{ pageId === 'exhibitions' ? 'current' : '' }}" href="/exhibitions">Exhibitions</a></li>
<li><a class="{{ pageId === 'space-rentals' ? 'current' : '' }}" href="/space-rentals">Rentals</a></li>
<li><a class="{{ pageId === 'about' ? 'current' : '' }}" href="/about">About</a></li>
<li><a class="{{ pageId === 'location' ? 'current' : '' }}" href="/location">Location</a></li>
<li><a href="https://policies.tomediaarts.org/procedure-manual/policies/accessibility"><i class="fab fa-accessible-icon"></i></a></li>