<extends src="layout.html">
  <block name="title">
    <title>{{ item.title }}</title>
  </block>
  <block name="og">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tomediaarts">
    <meta name="twitter:title" content="{{ item.title }}">
    <meta name="twitter:description" content="{{ item.shortSummary != undefined ? item.shortSummary : '' }}">
    <if condition="item.featureImage">
      <meta name="twitter:image" content="https://{{ dato._meta.imgixHost + item.featureImage.path }}">
    </if>
  </block>
  <block name="content">
    <div class="article-detail-grid">
      <if condition="item.featureImage">
        <header style="background-image:url('//{{ dato._meta.imgixHost + item.featureImage.path }}?bm=normal&balph=60&blend=322D5A&auto=compress'); background-size: cover;">
          <h1> {{ item.title }} </h1>
          <h2>{{ df(item.date, "UTC:mmmm d, yyyy", true) }}</h2>
        </header>
      </if>
      <else>
        <header>
          <h1> {{ item.title }} </h1>
          <h2>{{ df(item.date, "UTC:mmmm d, yyyy", true) }}</h2>
        </header>
      </else>
      <main>
        <section>
          <div md>{{ item.body }}</div>
          <!-- <if condition="item.appendix">
            <div>{{ item.appendix }}</div>
          </if> -->
        </section>
      </main>
    </div>

  </block>

</extends>