<extends src="layout.html">
  <block name="title">
    <title>{{ item.title }} on {{ df(item.startDateTime, "UTC:mmm d")}}</title>
  </block>
  <block name="og">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tomediaarts">
    <meta name="twitter:title" content="{{ item.title }}">
    <meta name="twitter:description" content="{{ item.summary != undefined ? item.summary : item.description }}">
    <meta name="twitter:image" content="https://{{ dato._meta.imgixHost + item.featureImage.path }}?bm=normal&balph=40&blend=322D5A">
  </block>
  <block name="content">
    <div class="event-detail-grid">
      <header style="background-image:url('//{{ dato._meta.imgixHost + item.featureImage.path }}?bm=normal&balph=60&blend=322D5A&auto=compress'); background-size: cover;">
        <h1> Toronto Media Arts Centre </h1>
      </header>
      <main>
        <h1>
          {{ item.title }}
        </h1>
        <if condition="item.presenter">
          <h3> {{ item.presenter }} </h3>
        </if>
        <elseif condition="item.member[0]">
          <h3> {{ item.member[0].name }} </h3>
        </elseif>
        <if condition="item.location[0]">
          <h4>
            In
            <each loop='space in item.location'>
              <if condition="space.name">
                <span class="space" style="background-color: #fff; color: #000; padding: 2px 4px; margin: 0 5px;">
                  {{ space.name }}
                </span>
              </if>
            </each>
          </h4>
        </if>



        <section>
          <div md>
            {{ item.description }}
          </div>


          <div class="desc">
            <if condition="item.member[0] && item.presenter">
              <p>
                <b>Presented by {{ item.member[0].name }}</b>
              </p>
            </if>
          </div>
          <div class="when">


            <if condition="{{ item.humanTime }}">
              <p class="date">
                <span class="fas fa-fw fa-calendar-alt"></span>
                <span class="date">{{ item.humanTime }}</span>
              </p>
            </if>
            <if condition="{{ item.hours }}">
              <p class="hours">
                <span class="fas fa-fw fa-clock"></span>
                <span>{{ item.hours }}</span>
              </p>
            </if>
            <if condition="{{ item.ticketPrice }}">
              <p class="tickets">
                <span class="fas fa-fw fa-ticket-alt"></span>
                <span>{{ item.ticketPrice }}</span>
              </p>
            </if>
          </div>
          <p>
            <a href="{{ item.registrationLink }}" class="btn btn-inverse">
              <if condition="item.past == true">
                Info
              </if>
              <else>
                Register
              </else>
            </a>
          </p>

        </section>
      </main>
    </div>

  </block>

  <block name="javascript">
    <script src="/js/vendor/tinysort.js"></script>
    <script src="/js/vendor/luxon.min.js"></script>
    <script>
      tinysort('.session',{data:'startdate', order:'asc'});
      var DateTime = luxon.DateTime;
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type": "Event",
        "name": "{{ item.title }}",
        "url": "https://tomediaarts.org/event/{{ item.slug }}",
        "description": "{{ item.presenter }}",
        "startDate": "{{ item.startDateTime.toISO() }}",
        "endDate": "{{ item.endDateTime.toISO() }}",
        "image": "https://{{ dato._meta.imgixHost + item.featureImage.path }}",
        "location": {
          "@type": "Place",
          "name": "Toronto Media Arts Centre",
          "sameAs": "https://tomediaarts.org",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "32 Lisgar Street",
            "addressLocality": "Toronto",
            "addressRegion": "ON",
            "postalCode": "M6J0C9",
            "addressCountry": "Canada"
          }
        },
        "eventStatus": "{{ item.canceled == true ? 'http://schema.org/EventCancelled' : 'http://schema.org/EventScheduled' }}"
      }
    </script>

  </block>
</extends>