<extends src="layout.html">
  <block name="title">
    <title>{{ item.title }} on {{ df(item.startDate, "UTC:mmm d")}}</title>
  </block>
  <block name="og">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tomediaarts">
    <meta name="twitter:title" content="{{ item.title }}">
    <meta name="twitter:description" content="{{ item.summary != undefined ? item.summary : item.description }}">
    <meta name="twitter:image" content="https://{{ dato._meta.imgixHost + item.featureImage.path }}">
  </block>

  <block name="content">
    <header
      style="background-image:url('//{{ dato._meta.imgixHost + item.featureImage.path }}?auto=compress'); background-size: cover;">
      <h1> Toronto Media Arts Centre </h1>
    </header>
    <main>
      <div id="program-header">
        <h1>
          {{ item.title }}
        </h1>
        <if condition="item.presenter">
          <h3>
            {{ item.presenter }}
          </h3>
        </if>
        <elseif condition="item.member[0]">
          <h3>
            {{ item.member[0].name }}
          </h3>
        </elseif>
      </div>

      <section>
        <div class="container two-col">

          <div class="description">
            <div md>
              {{ item.description }}
            </div>
            <if condition="{{ item.link }}">
              <p> <a class="btn btn-primary" href="{{ item.link }}"> Web site</a> </p>
            </if>



          </div>
          <div class="details">

            <div class="when">
              <if condition="{{ item.startDate }}">
                <p class="date">
                  <span class="fas fa-fw fa-calendar-alt"></span>
                  <if condition="dateFns.isSameDay(item.startDateParsed,item.endDateParsed) == true">
                    <span class="date">
                      {{ df(item.startDate, "UTC:mmmm d", true)}}
                    </span>
                  </if>
                  <elseif condition="dateFns.isSameMonth(item.startDateParsed,item.endDateParsed) == true">
                    <span class="date">
                      {{ df(item.startDate, "UTC:mmmm d", true)}}–{{ df(item.endDate, "UTC:d", true)}}
                    </span>
                  </elseif>
                  <else>
                    <span class="date">
                      {{ df(item.startDate, "UTC:mmmm d", true)}}–{{ df(item.endDate, "UTC:mmmm d", true)}}
                    </span>
                  </else>
                </p>
              </if>

              <if condition="{{ item.hours }}">
                <p class="hours">
                  <span class="fas fa-fw fa-clock"></span>
                  <span>{{ item.hours }}</span>
                </p>
              </if>
              <if condition="{{ item.ticketPrice }}">
                <p class="tickets">
                  <span class="fas fa-fw fa-ticket-alt"></span>
                  <span>{{ item.ticketPrice }}</span>
                </p>
              </if>
            </div>

            <div class="desc">

              <if condition="item.primaryPresenter">
                <h3>Presented by</h3>
                <p> {{ item.primaryPresenter }} </p>
              </if>
              <if condition="item.member[0] && item.presenter">
                <h3>Co-presented by</h3>
                <div class="copresenters">
                  <each loop='member in item.member'>

                    <img src="https://{{ dato._meta.imgixHost + member.logo.path }}?auto=compress,format"
                      alt="{{ member.logo.alt ? member.logo.alt : member.name }}" width="200">
                  </each>
                </div>
              </if>
              <if condition="item.externalCoPresenters">
                <p>
                  <b>And {{ item.externalCoPresenters }}</b>
                </p>
              </if>

            </div>

            <if condition="{{item.highlights[0]}}">
              <h3>Related Programs</h3>

              <each loop="highlight in item.highlights">

                <if condition="highlight.programType">

                  <p class="highlight" data-startDate='{{ Date.parse(highlight.startDate) }}'>

                    <span class="date">
                      {{ highlight.humanTime }}
                    </span>
                    <br>

                    <a href="/program/{{ highlight.slug }}">{{ highlight.title }}</a>
                    <small>{{highlight.programType}}</small>
                  </p>

                </if>
                <else>
                  <p class="highlight" data-startDate='{{ Date.parse(highlight.startDateTime) }}'>
                    <span class="date">
                      <b>{{ DateTime.fromISO(highlight.startDateTime).toLocaleString(DateTime.DATETIME_MED) }}–{{ DateTime.fromISO(highlight.endDateTime).toLocaleString(DateTime.TIME_SIMPLE) }}</b>
                    </span><br>

                    <a href="/event/{{ highlight.slug }}">{{ highlight.title }}</a>
                  </p>
                </else>

              </each>
            </if>
            <if condition="{{ item.externalTicketsLink }}">
              <p> <a class="btn btn-primary" href="{{ item.externalTicketsLink }}">Get Tickets</a> </p>
            </if>
            <if condition="{{item.sessions[0]}}">
              <div id="schedule">
                <h3>Schedule</h3>
                <each loop="session in item.sessions">
                  <div class="session" data-startDate='{{ Date.parse(session.startDateTime) }}'>
                    <h4>{{session.work.title}}</h4>
                    <p class="time">{{df(dateFns.subHours(Date.parse(session.startDateTime), 5), "UTC:dddd, mmmm d, h:MMtt", true)}}

                      <if condition="{{ session.location[0] }}">
                        ({{session.location[0].name}})
                      </if>
                    </p>
                  </div>
                </each>
              </div>
            </if>

          </div>

        </div>
      </section>
    </main>
  </block>

  <block name="javascript">
    <script src="/js/vendor/tinysort.js"></script>

    <script>
      tinysort('.session', {
        data: 'startdate',
        order: 'asc'
      });
      tinysort('.highlight', {
        data: 'startdate',
        order: 'asc'
      });

    </script>
  </block>

</extends>