<extends src="layout.html">
  <block name="content">
    <table class="table">
      <each loop='event in dato.event'>

        <tr class="event" style="{{ dateFns.isSameISOWeek(event.startDateTimeParsed, new Date()) == true ? 'background-color: yellow;' : '' }}" data-startDate="{{ Date.parse(event.startDateTimeParsed) }}">
          <td>{{ dateFns.getISOWeek(event.startDateTimeParsed) }}</td>
          <td>{{ event.title }}</td>
          <td>{{ df(event.startDateTime, "UTC:dddd, mmm d", true)}}</td>
          <td>{{ event.eventType }}</td>
          <td><if condition="event.member[0]">{{ event.member[0].name }}</if></td>
          <td><if condition="event.presenter">{{ event.presenter }}</if></td>
        </tr>
      </each>
    </table>
  </block>

  <block name="javascript">

    <script src="/js/vendor/tinysort.js"></script>
    <script>
      tinysort('.event',{data:'startdate', order:'asc'});
    </script>
  </block>
</extends>