<table>
  <each loop='event in dato.event'>

    <tr class="event" data-startDate="{{ Date.parse(event.startDateTime) }}">
      <td>{{ event.title }}</td>
      <td>{{ df(event.startDateTime, "UTC:mmmm d", true)}}</td>
      <td>{{ event.eventType }}</td>
      <td><if condition="event.member[0]">{{ event.member[0].name }}</if></td>
      <td><if condition="event.presenter">{{ event.presenter }}</if></td>
    </tr>
  </table>

</each>


<script src="/js/vendor/tinysort.js"></script>
<script>
tinysort('.event',{data:'startdate', order:'asc'});
</script>
