<ol>
  <each loop='event in dato.event'>


    <li class="event" data-startDate="{{ Date.parse(event.startDateTime) }}" >


        {{ event.title }} – {{ df(event.startDateTime, "UTC:mmmm d", true)}}

        <if condition="event.member[0] && event.presenter">
          <small>({{ event.member[0].name }} + {{ event.presenter }})</small>
        </if>
        <elseif condition="event.member[0]">
          <small>({{ event.member[0].name }})</small>
        </elseif>
        <elseif condition="event.presenter">
          <small>({{ event.presenter }})</small>
        </elseif>



    </li>
  </each>
</ol>


<script src="/js/vendor/tinysort.js"></script>
<script>
tinysort('.event',{data:'startdate', order:'asc'});
</script>
