<extends src="layout.html">
  <block name='meta'>
    <meta name="robots" content="noindex">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='google-site-verification' content='ArLdqonWlRvHkvmHpdwdW3nxGnct3sJE--rDYC-Y0Mo'>
  </block>
  <block name="content">
    <main>
      <div class="container">
        <div class="header-action">
          <h2>Call for expressions of interest</h2>
          <h3>Temporary café operator, June-September 2019</h3>

          <a href="mailto:info@tomediaarts.org" class="btn btn-alt">Contact Us</a>

        </div>
        <div class="three-col">
          <img src="/images/cafe-outside.jpg" alt="cafe-looking-out" style="width: 100%;">
          <img src="/images/cafe-looking-in.jpg" alt="cafe-looking-in" style="width: 100%;">
          <img src="/images/cafe-looking-out.jpg" alt="cafe-looking-out" style="width: 100%;">
        </div>

        <div class="content two-col">
          <div>
            <p>The Toronto Media Arts Centre is seeking a temporary operator for its 500-sq.-ft. street-level café space at its facility in West Queen West. We’re looking for an established Toronto-based coffeeshop or local chain interested in creating a lively pop-up café or espresso bar to serve our daytime visitors, neighbourhood residents and event attendees.
            </p>
            <p>Located within TMAC at the base of a 22-story condominium, the cafe doors open directly on to Lisgar Park and are adjacent to the main entrance to our 30,000 square foot facility. The space features double-height, floor-to-ceiling windows, sealed concrete flooring, a service window and a small patio space.
            </p>Additional seating is available for patrons on the second floor of the facility, at no charge to the operator. Leasehold improvements are at the renter’s option. The space is outfitted with water (including separate double sinks and handwashing station), drainage, electrical receptacles and a washroom. There are no kitchen/cooking facilities on site.
            <p>All utilities, including hydro, high-speed fibre Internet, and basic janitorial are included.
            </p>
            <h4>What we're looking for</h4>
            <p>We strongly prefer simple offerings, ideally a minimal mix of the following:</p>
            <ul>

              <li>Coffee/espresso and tea beverages</li>
              <li>Doughnuts and/or pastries</li>
              <li>Grab-and-go lunch items (daily sandwiches and/or salads)</li>
              <li>Ice cream</li>
              <li>If you are able to handle catering, that is a bonus.</li>
            </ul>

            <h4>Design</h4>
            <p>The cafe is part of the entrance of TMAC; we’d love you to bring your aesthetic to the space in a way that is complementary to ours. Our goal is to bring the space to life and invite everyone in to hang out a while!
            </p>

          </div>


          <div>
            <h4>About TMAC</h4>
            <p>TMAC is a charitable media arts centre, home to four member organizations who serve the broader Toronto arts community. We host daily events (workshops, receptions, social gatherings, meetups, etc.) and gallery exhibitions. The facility is free and open to the public daily from 10am-6pm, but often open later for programs.

            </p>
            <p><a href="/about">Learn more about TMAC</a></p>

            <h3>Location</h3>
            <p>We are located south of Queen Street West on Lisgar Street, just half a block from the Theatre Centre and The Drake Hotel. The 501 streetcar is steps away at Abell Street.</p>

            <iframe src="https://snazzymaps.com/embed/149757" width="100%" height="400px" style="border:none;"></iframe>


            <h4>Terms</h4>
            <p>If there’s a good fit, there’s a potential for long-term tenancy.</p>
            <p>One-month fixturing period (May), during which you may operate as soon as your inspection passes.
            </p>
            <p>All-inclusive license fee to operate through September 2019.</p>
          </div>
        </div>

      </div>

    </main>


  </block>


</extends>