<extends src="layout.html">
  <block name='meta'>
    <meta name="robots" content="noindex">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='google-site-verification' content='ArLdqonWlRvHkvmHpdwdW3nxGnct3sJE--rDYC-Y0Mo'>
  </block>
  <block name="content">
    <main>
      <div class="container">
        <div class="header-action">
          <div>

            <h2>Cinema Naming Opportunity</h2>
            <h3>New 210-seat multipurpose theatre/cinema in West Queen West</h3>
            
            <a href="mailto:info@tomediaarts.org" class="btn btn-alt">Contact Us</a>
          </div>

        </div>
        <!-- <div class="images two-col" style="grid-template-columns: 1fr 1fr">
          <img src="/images/photos/cinema-model.png" alt="cafe-looking-in" style="width: 100%;">
        </div> -->


        <div class="">
          <!-- <img src="/images/photos/cinema-model.png" alt="cafe-looking-in" style="width: 100%;"> -->

          <!-- <iframe src="https://snazzymaps.com/embed/149757" width="100%" height="400px" style="border:none;"></iframe> -->

        </div>
        <div class="content two-col">
          <div class="col1">





<p>The Toronto Media Arts Centre, now in its second year of operating a 30,000 sq. ft. arts centre in West Queen West,
  has quickly established itself as a vital hub for events, exhibitions and educational programming that applies art and
  technology to create social and civic impact.</p>

<p>In our first year, we hosted 275 events and 30 exhibitions, festivals and major productions. We collaborated with 150
  arts nonprofits, ad hoc community groups, and city-wide initiatives. Now, every inch of our galleries and event spaces
  is programmed to capacity on a daily basis.</p>

<p>We have reached the limits of what we can do in the space without our long-awaited cinema. It is essential to our
  cultural mandate and at the core of our collaborative programming vision.</p>
              

        </div>


        <div class="col2">

                    <img src="/images/photos/theatre_space.jpg" alt="cafe-looking-out" style="width: 100%;">

          <p>The cinema space –&nbsp;3,500 sq. ft., currently just a shell in the centre of our building –&nbsp;was designed by us to be the heart of all activity in TMAC and a hub for Toronto’s 100+ independent film festivals and the local neighbourhood.</p>
        <p>Its design and programming respond to the needs and diverse imaginations of the 150+ partners we’ve worked with for presentation, theatre and musical performance, film screening, conferences and more.</p>

          <h3>Already done</h3>
          <ul>
            <li>Shell completed in 2015, designed by renowned architect Peter Smith (designer of TIFF Lightbox cinemas)</li>
            <li>Green room, back stage area and projection booth construction is complete</li>
            <li>$100,000 in projection/theatre equipment has been donated by Goethe-Institut</li>
            <li>$25,000 cinema screen has been acquired</li>
            <li>Mezzanine event space, with 26’ floor-to-ceiling windows overlooking Lisgar Park</li>
          </ul>

          <h3>What we need</h3>

          <ul>
            <li>$750,000 for audiovisual system and acoustic fit-out</li>
            <li>$1 million for construction, labor, specialized HVAC, seating, lighting, and finishes (including
              bar/concession).
            </li>
            <li>$250,000 for consultants (AV, acoustics, lighting, architectural, project management)</li>
          </ul>

          <ul>
            <li>210 seats, half modular/folding and half raked</li>
            <li>Analog film and digital projection</li>
            <li>Sound stage</li>
            <li>Mezzanine bar/concession area can be completed to spec in tandem with cinema. Bar plumbing and electrical work complete.</li>
          </ul>

        </div>
      </div>
      

<div class="map">

                      <img src="/images/cinema_drawing.png" alt="cafe-looking-out" style="width: 100%;">



</div>
    </div>


  <!-- </div> -->

</main>


</block>


</extends>