<extends src="layout.html">
  <block name='meta'>
    <meta name="robots" content="noindex">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='google-site-verification' content='ArLdqonWlRvHkvmHpdwdW3nxGnct3sJE--rDYC-Y0Mo'>
  </block>
  <block name="content">
    <main>
      <div class="container">
        <div class="header-action">
          <h2>Theatre Naming Opportunity</h2>
          <h3>210-seat multipurpose theatre cinema in West Queen West</h3>

          <a href="mailto:info@tomediaarts.org" class="btn btn-alt">Contact Us</a>

        </div>
        <div class="images three-col">
          <!-- <img src="/images/cafe-outside.jpg" alt="cafe-looking-out" style="width: 100%;"> -->
          <!-- <img src="/images/cafe-looking-in.jpg" alt="cafe-looking-in" style="width: 100%;"> -->
          <!-- <img src="/images/cafe-looking-out.jpg" alt="cafe-looking-out" style="width: 100%;"> -->
        </div>

        <div class="content two-col">
          <div class="col1">



            <!-- <iframe width="853" height="480"
              src="https://my.matterport.com/show?m=9YZ14AVmheW&start=%7B%22camera_mode%22%3A1%2C%22camera_position%22%3A%7B%22x%22%3A3.1994845867156982%2C%22y%22%3A4.7497239112854%2C%22z%22%3A-3.8872125148773193%7D%2C%22camera_quaternion%22%3A%7B%22x%22%3A-0.03621445287880439%2C%22y%22%3A0.6928771984644673%2C%22z%22%3A0.0348841390013217%2C%22w%22%3A0.719300214164334%7D%2C%22scan_id%22%3A%2244c86dbba92d4716a0b72500b88bc090%22%7D&help=0&play=1"
              frameborder="0"
              allowfullscreen allow="vr"></iframe> -->


              

        </div>


        <div class="col2">
          <h4>About TMAC</h4>
          <p>TMAC is a charitable media arts centre, home to four member organizations who serve the broader Toronto arts community. We host daily events (workshops, receptions, social gatherings, meetups, etc.) and gallery exhibitions. The facility is free and open to the public daily from 10am-6pm, but often open later for programs.</p>
          <p><a href="/about">Learn more about TMAC</a></p>


          
          <h3>Location</h3>
          <p>We are located south of Queen Street West on Lisgar Street, just half a block from the Theatre Centre and The Drake Hotel. The 501 streetcar is steps away at Abell Street.</p>

        </div>
      </div>
      <div class="map">
        <!-- <iframe src="https://snazzymaps.com/embed/149757" width="100%" height="400px" style="border:none;"></iframe> -->

      </div>


    </div>


  <!-- </div> -->

</main>


</block>


</extends>