<extends src="layout.html">
  <block name="content">
    <section id="daily-events">
      <h4 class="divider">Events &amp; Workshops</h4>
      <p class="subscribe">
        <span class="fas fa-fw fa-calendar-alt"></span>
        <a href="webcal://tomediaarts.org/ical.ics">Subscribe to calendar</a>
      </p>
      <div class="event-grid upcoming">
        <each loop="event in dato.event">
          <if condition="event.past !== true">
            <include src="includes/event-grid.html"></include>
          </if>
        </each>
      </div>
    </section>


    <section id="daily-events">
      <div class="container">

        <h4 class="divider"> Past events </h4>
        <p><span class="count"></span> events since April 2018</p>

        <div class="event-grid past">
          <each loop='event in dato.event'>
            <if condition='event.past == true'>
              <include src="includes/event-grid.html"></include>
            </if>
          </each>
        </div>
      </div>
    </section>

  </block>

  <block name="javascript">
    <script src="/js/vendor/tinysort.js"></script>
    <script>
      tinysort('.past .event', { data: 'startdate', order: 'desc' });
      tinysort('.upcoming .event', { data: 'startdate', order: 'asc' });
      const countSpan = document.querySelector('.count')
      countSpan.innerHTML = document.querySelectorAll('.past .event').length;
    </script>
  </block>
</extends>