<extends src='layout.html'>

  <block name='meta'></block>

  <block name="nav"></block>

  <block name='content'>

    <main class="slider event-grid">
      <each loop='exhibition in dato.program'>
        <if condition='exhibition.past !== true'>
          <div class="event exhibition" style="background-image: url('//{{ dato._meta.imgixHost + exhibition.featureImage.path }}?bm=normal&balph=70&blend={{ exhibition.canceled == true ? 'eeeeee' : '159159'}}'); background-size: cover;" data-startDate="{{ Date.parse(exhibition.startDate) }}"  class="{{ exhibition.canceled == true ? 'canceled' : ''}}">

            <a href="/program/{{ exhibition.slug }}">
              <div class="desc">
                <if condition="exhibition.member[0] && exhibition.presenter">
                  <small>
                    {{ exhibition.member[0].name }} & {{ exhibition.presenter }}
                  </small>
                </if>
                <elseif condition="exhibition.member[0]">
                  <small>{{ exhibition.member[0].name }}</small>
                </elseif>
                <elseif condition="exhibition.presenter">
                  <small>{{ exhibition.presenter }}</small>
                </elseif>
                <h3>{{ exhibition.title }}</h3>
                <if condition="exhibition.location[0]">
                  <p class="location">{{ exhibition.location[0].name }}</p>
                </if>

                <div class="when">
                  <p class="date">
                    <span class="fas fa-fw fa-calendar-alt"></span>
                    <!-- if the program starts and ends on same day -->
                    <if condition="dateFns.isSameDay(exhibition.startDate,exhibition.endDate) == true">
                      <span class="date">{{ df(exhibition.startDate, "UTC:mmmm d", true)}} • {{ df(exhibition.startDate, "UTC:h:MM tt", true)}}</span>
                    </if>
                    <!-- if the program starts and ends in same month, don't show month name twice -->
                    <if condition="dateFns.isSameMonth(exhibition.startDate,exhibition.endDate) == true">
                      <span class="date">{{ df(exhibition.startDate, "UTC:mmmm d", true)}}–{{ df(exhibition.endDate, "UTC:d", true)}}</span>
                    </if>
                    <else>
                      <span class="date">
                        {{ df(exhibition.startDate, "UTC:mmmm d", true)}}–{{ df(exhibition.endDate, "UTC:mmmm d", true)}}
                      </span>
                    </else>
                  </span>
                </p>
                <if condition="{{ exhibition.hours }}">
                  <p class="hours">
                    <span class="fas fa-fw fa-clock"></span>
                    <span>{{ exhibition.hours }}</span>
                  </p>
                </if>
                <if condition="{{ exhibition.ticketPrice }}">
                  <p class="tickets">
                    <span class="fas fa-fw fa-ticket-alt"></span>
                    <span>{{ exhibition.ticketPrice }}</span>
                  </p>
                </if>
              </div>
              <div class="register">
                <!-- // span(class="btn btn-primary") Info -->
                <if condition="dateFns.isWithinRange(new Date(), exhibition.startDate, exhibition.endDate) == true">
                  <p class="thisweek">
                    On Now
                  </p>
                </if>
                <elseif condition="dateFns.isFuture(exhibition.startDate) == true">
                  <p class="thisweek">
                    Upcoming
                  </p>
                </elseif>
              </div>
            </div>
          </a>
        </div>
      </if>
    </each>

    <each loop='event in dato.event'>
      <if condition='event.past !== true'>
        <div class="event daily" style="background-image: url('//{{ dato._meta.imgixHost + event.featureImage.path }}?bm=normal&balph=70&blend={{ event.canceled == true ? 'eeeeee' : '322D5A'}}'); background-size: cover;" data-startDate="{{ Date.parse(event.startDateTime) }}"  class="{{ event.canceled == true ? 'canceled' : ''}}">

          <a href="">
            <div class="desc">
              <if condition="event.canceled == true">
                <span class="canceled">Canceled</span>
              </if>
              <if condition="event.member[0] && event.presenter">
                <small>{{ event.member[0].name }} & {{ event.presenter }}</small>
              </if>
              <elseif condition="event.member[0]">
                <small>{{ event.member[0].name }}</small>
              </elseif>
              <elseif condition="event.presenter">
                <small>{{ event.presenter }}</small>
              </elseif>
              <h3>{{ event.title }}</h3>
              <if condition="event.location[0]">
                <p class="location">{{ event.location[0].name }}</p>
              </if>


              <div class="when">
                <!-- // if the event starts and ends on same day -->
                <if condition="dateFns.isSameDay(event.startDateTime,event.endDateTime) == true">
                  <p class="date">
                    {{ df(event.startDateTime, "UTC:mmmm d", true)}} • {{ df(event.startDateTime, "UTC:h:MM tt", true)}}
                  </p>
                </if>

                <!-- // if the event spans multiple days, but starts and ends in same month, -->
                <!-- // don't show month name twice -->
                <elseif condition="dateFns.isSameMonth(event.startDateTime,event.endDateTime) == true">
                  <p class="date">
                    {{ df(event.startDateTime, "UTC:mmmm d", true)}}–{{ df(event.endDateTime, "UTC:d", true)}}
                  </p>
                </elseif>
                <else>
                  <p class="date">
                    {{ df(event.startDateTime, "UTC:mmmm d", true)}}–{{ df(event.endDateTime, "UTC:mmmm d", true)}}
                  </p>
                </else>
              </div>

              <div class="register">
                <if condition="dateFns.isToday(event.startDateTime) == true">
                  <p class="thisweek">
                    Today
                  </p>
                </if>
                <elseif condition="dateFns.isThisWeek(event.startDateTime) == true">
                  <p class="thisweek">
                    {{ dateFns.format(event.startDateTime, 'dddd') }}
                  </p>
                </elseif>
              </div>
            </div>
          </a>
        </div>
      </if>
    </each>
  </main>
</block>
<block name='footer'></block>

<block name='javascript'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.3/min/tiny-slider.js"></script>
  <script src="/js/vendor/tinysort.js"></script>
  <script>
  tinysort('.event-grid .exhibition',{data:'startdate', order:'asc'});
  tinysort('.event-grid .daily',{data:'startdate', order:'asc'});
  var slider = tns({
    items: 2,
    speed: 300,
    slideBy: 1,
    autoplay: true,
    axis: 'horizontal',
    controls: false,
    mode: 'carousel',
    nav: false,
    autoplayButtonOutput: false,
    // autoplayTimeout: 5000
  });
  slider.play();
  </script>
</block>

</extends>