<extends src='layout.html'>

  <block name='meta'></block>

  <block name="nav"></block>

  <block name='content'>
    <main class="slider event-grid">
      <each loop='exhibition in dato.program'>
        <if condition='exhibition.past !== true'>
          <div class="event exhibition" style="background-image: url(//{{ dato._meta.imgixHost + exhibition.featureImage.path }}?bm=normal&balph=70&blend={{ exhibition.canceled == true ? 'eeeeee' : '159159'}}); background-size: cover;" data-startDate="{{ Date.parse(exhibition.startDate) }}" class="{{ exhibition.canceled == true ? 'canceled' : ''}}" >
            <a href="/program/{{ exhibition.slug }}">
              <div class="desc">
                <div class="title">
                  <if condition="exhibition.member[0] && exhibition.presenter">
                    <p class="presenter"> {{ exhibition.member[0].name }} & {{ exhibition.presenter }} </p>
                  </if>
                  <elseif condition="exhibition.member[0]">
                    <p class="presenter">{{ exhibition.member[0].name }}</p>
                  </elseif>
                  <elseif condition="exhibition.presenter">
                    <p class="presenter">{{ exhibition.presenter }}</p>
                  </elseif>
                  
                </div>
                <h3>{{ exhibition.title }}</h3>
                <div class="when">
                  <p class="date">
                    {{ exhibition.humanTime }}
                  </p>
                  <if condition="{{ exhibition.hours }}">
                    <p class="hours">
                      <span class="fas fa-fw fa-clock"></span>
                      <span>{{ exhibition.hours }}</span>
                    </p>
                  </if>
                  <if condition="{{ exhibition.ticketPrice }}">
                    <p class="tickets">
                      <span class="fas fa-fw fa-ticket-alt"></span>
                      <span>{{ exhibition.ticketPrice }}</span>
                    </p>
                  </if>
                </div>
                <div class="register">
                  <if condition="dateFns.isAfter(exhibition.startDateParsed, dateFns.parseISO(nowParsed)) == true">
                    <p class="thisweek">
                      Opens {{ df(exhibition.startDate, "UTC:mmmm d", true) }}
                    </p>
                  </if>
                </div>
              </div>
            </a>
          </div>
        </if>
      </each>

      <each loop='event in dato.event'>
        <if condition='event.past !== true'>
          <div class="event daily" style="background-image: url('//{{ dato._meta.imgixHost + event.featureImage.path }}?bm=normal&balph=70&blend={{ event.canceled == true ? 'eeeeee' : '322D5A'}}'); background-size: cover;" data-startDate="{{ Date.parse(event.startDateTime) }}"  class="{{ event.canceled == true ? 'canceled' : ''}}">

            <a href="">
              <div class="desc">
                <div class="title">
                  <if condition="event.canceled == true">
                    <span class="canceled">Canceled</span>
                  </if>
                  <if condition="event.member[0] && event.presenter">
                    <p class="presenter">{{ event.member[0].name }} & {{ event.presenter }}</p>
                  </if>
                  <elseif condition="event.member[0]">
                    <p class="presenter">{{ event.member[0].name }}</p>
                  </elseif>
                  <elseif condition="event.presenter">
                    <p class="presenter">{{ event.presenter }}</p>
                  </elseif>
                  <if condition="event.location[0]">
                    <div class="spaces">
                      <each loop='space in event.location'>
                        <p class="space">
                          {{ space.name }}
                        </p>
                      </each>
                    </div>
                  </if>
                </div>
                <h3>{{ event.title }}</h3>
                <div class="when">
                  <p class="date">
                    {{ event.humanTime }}
                  </p>
                </div>

                <!-- <div class="register">

                  <if condition="dateFns.isSameDay(new Date(), event.startDateTimeParsed) == true">
                    <p class="thisweek">Today</p>
                  </if>
                  <elseif condition="dateFns.isSameDay(event.startDateTimeParsed, dateFns.addDays(new Date(), 1)) == true">
                    <p class="thisweek">Tomorrow</p>
                  </elseif>

                  <elseif condition="dateFns.isSameWeek(event.startDateTimeParsed, new Date())">
                    <p class="thisweek">
                      {{ event.startDateTime.toLocaleString({ weekday: 'long' }) }}
                    </p>
                  </elseif>

                </div> -->
              </div>
            </a>
          </div>
        </if>
      </each>
    </main>
  </block>
  <block name='footer'></block>

  <block name='javascript'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.3/min/tiny-slider.js"></script>
    <script src="/js/vendor/tinysort.js"></script>
    <script>
      tinysort('.event-grid .exhibition',{data:'startdate', order:'asc'});
      tinysort('.event-grid .daily',{data:'startdate', order:'asc'});
      var slider = tns({
        items: 2,
        speed: 300,
        slideBy: 1,
        autoplay: true,
        // axis: 'vertical',
        controls: false,
        mode: 'carousel',
        nav: false,
        autoplayButtonOutput: false,
        // autoplayTimeout: 5000
      });
      slider.play();
    </script>
  </block>

</extends>