<extends src="layout.html">
  <block name="content">
    <section id="exhibitions">
      <h4 class="divider">Exhibitions &amp; Festivals</h4>
      <p class="subscribe">
        <span class="fas fa-fw fa-calendar-alt"></span>
        <a href="webcal://tomediaarts.org/ical.ics">Subscribe to calendar</a>
      </p>
      <div class="event-grid exhibitions upcoming">
        <each loop="exhibition in dato.program">
          <if condition="exhibition.past !== true">
            <div class="event exhibition" style='background-image: url(//{{ dato._meta.imgixHost + exhibition.featureImage.path }}?bm=normal&w=600&balph=60&blend={{ exhibition.onNow == true ? "6151FF" : "444444"}}); background-size: cover;' data-startDate="{{ Date.parse(exhibition.startDate) }}" class='{{ exhibition.canceled == true ? "canceled" : ""}}' >

              <a href="/program/{{ exhibition.slug }}">
                <div class="desc">
                    <div class="title">
                      <!-- ARTIST -->
                      <if condition="exhibition.presenter">
                        <p class="presenter">{{ exhibition.presenter }}</p>
                      </if>
                      <elseif condition="exhibition.member[0]">
                        <p class="presenter">{{ exhibition.member[0].name }}</p>
                      </elseif>
                      
                    </div>
                    <h3> {{ exhibition.title }} </h3>

                  <div class="when">
                    <p class="date">
                      <span class="fas fa-fw fa-calendar-alt"></span>
                      <span class="date">{{ exhibition.humanTime}}</span>

                    </p>
                    <if condition="{{ exhibition.hours }}">
                      <p class="hours">
                        <span class="fas fa-fw fa-clock"></span>
                        <span>{{ exhibition.hours }}</span>
                      </p>
                    </if>
                    <if condition="{{ exhibition.ticketPrice }}">
                      <p class="tickets">
                        <span class="fas fa-fw fa-ticket-alt"></span>
                        <span>{{ exhibition.ticketPrice }}</span>
                      </p>
                    </if>
                  </div>
                </div>
              </a>
            </div>
          </if>
        </each>

      </div>

    </section>



    <section id="daily-events">
      <div class="container">
        <h4 class="divider">
          Past exhibitions &amp; Festivals
        </h4>
        <p><span class="count"></span> exhibitions since April 2018</p>

        <div class="event-grid exhibitions past">
          <each loop="exhibition in dato.program">
            <if condition="exhibition.past == true">
              <div class="event exhibition" style='background-image: url(//{{ dato._meta.imgixHost + exhibition.featureImage.path }}?bm=normal&balph=50&blend={{ exhibition.canceled == true ? "eeeeee" : "132132"}}); background-size: cover;' data-startDate="{{ Date.parse(exhibition.startDate) }}" class='{{ exhibition.canceled == true ? "canceled" : ""}}' >

                <a href="/program/{{ exhibition.slug }}">
                  <div class="desc">
                    <div class="title">
                      <if condition="exhibition.member[0] && exhibition.presenter">
                        <p class="presenter">{{ exhibition.member[0].name }} &amp; {{ exhibition.presenter }}</p>
                      </if>
                      <elseif condition="exhibition.member[0]">
                        <p class="presenter">{{ exhibition.member[0].name }}</p>
                      </elseif>
                      <elseif condition="exhibition.presenter">
                        <p class="presenter">{{ exhibition.presenter }}</p>
                      </elseif>

                    </div>
                    <h3> {{ exhibition.title }} </h3>

                    <div class="when">
                      <p class="date">
                        <span class="fas fa-fw fa-calendar-alt"></span>

                        {{exhibition.humanTime}}, {{ exhibition.endDate.toLocaleString({ year: 'numeric' }) }}

                      </p>


                    </div>



                  </div>
                </a>
              </div>
            </if>
          </each>

        </div>
      </div>
    </section>
  </block>

  <block name="javascript">
    <script src="/js/vendor/tinysort.js"></script>
    <script>
      tinysort('.past .event',{data:'startdate', order:'desc'});
      tinysort('.upcoming .event',{data:'startdate', order:'asc'});
      const countSpan = document.querySelector('.count')
      countSpan.innerHTML = document.querySelectorAll('.past .event').length;
    </script>
  </block>
</extends>

