BEGIN:VCALENDAR
CALSCALE:GREGORIAN
PRODID:-//TMAC//Events//EN
X-WR-CALNAME:TMAC Events
VERSION:2.0<each loop="event in dato.event">
BEGIN:VEVENT
UID:tmac_event_{{event.id}}
DTSTART;TZID=America/New_York:{{ event.startDateTime }}
DTEND;TZID=America/New_York:{{ event.endDateTime }}
DTSTAMP;TZID=America/New_York:{{ now }}
SUMMARY:{{event.title}}
ORGANIZER:{{event.organizer}}
DESCRIPTION:Location: {{ event.location.map(a => a.name).join(", ") }}
URL:{{ event.registrationLink }}
END:VEVENT</each>
<each loop="event in dato.program">
BEGIN:VEVENT
UID:tmac_event_{{event.id}}
DTSTART;TZID=America/New_York:{{ event.startDate }}
DTEND;TZID=America/New_York:{{ event.endDate }}
DTSTAMP;TZID=America/New_York:{{ now }}
SUMMARY:{{event.title}} ({{event.programType}})
ORGANIZER:{{event.presenter}}
DESCRIPTION:Hours: {{ event.hours }} in {{ event.location.map(a => a.name).join(", ") }}
END:VEVENT</each>
END:VCALENDAR
