BEGIN:VCALENDAR
CALSCALE:GREGORIAN
PRODID:-//TMAC//Events//EN
X-WR-CALNAME:TMAC Events
VERSION:2.0<each loop="event in dato.event">
BEGIN:VEVENT
UID:tmac_event_{{event.id}}
DTSTART;TZID=America/New_York:{{ df(event.startDateTime, "yyyymmdd'T'HHMMss")}}
DTEND;TZID=America/New_York:{{ df(event.endDateTime, "yyyymmdd'T'HHMMss")}}
DTSTAMP;TZID=America/New_York:{{ df(now, "UTC:yyyymmdd'T'HHMMss")}}
SUMMARY:{{event.title}}
ORGANIZER:{{event.organizer}}
DESCRIPTION:Location: {{ event.location.map(a => a.name).join(", ") }}
URL:{{ event.registrationLink }}
END:VEVENT</each>
<each loop="event in dato.program">
BEGIN:VEVENT
UID:tmac_event_{{event.id}}
DTSTART;TZID=America/New_York:{{ df(event.startDate, "yyyymmdd'T'HHMMss")}}
DTEND;TZID=America/New_York:{{ df(event.endDate, "yyyymmdd'T'HHMMss")}}
DTSTAMP;TZID=America/New_York:{{ df(now, "UTC:yyyymmdd'T'HHMMss")}}
SUMMARY:{{event.title}} ({{event.programType}})
ORGANIZER:{{event.presenter}}
DESCRIPTION:Hours: {{ event.hours }} in {{ event.location.map(a => a.name).join(", ") }}
END:VEVENT</each>
END:VCALENDAR
