<extends src="layout.html">
  <block name="content">
    <header style="background-image:url(https://www.datocms-assets.com/5128/1533616878-damage-camp.jpg?&bm=normal&balph=20&auto=compress,format);">
      <h1>Toronto Media Arts Centre</h1>
    </header>
    <main>
      <!-- <div class="special-alert">
      </div> -->
      <section id="callout">
        <div class="container">
          <p style='font-size: 22px'>Get our weekly events &amp; exhibitions listings right in your inbox every Monday morning.</p>
          <a href="/mailing-list" class="btn btn-primary">Subscribe</a>
        </div>
      </section>
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1>About TMAC</h1>
              <p class="lead">A new permanent home for Toronto's media arts organizations, and an accessible public space for art, creation and collaboration in the Queen West Triangle.</p><!-- h2 Our Mission --><!-- --><!-- p.lead TMAC aspires to be a centre for excellence for the media arts that takes an accessible approach to the advancement of culture and technology. -->
              <div>
                <p>In the heart of Toronto’s Art and Design District, TMAC is a diverse and collaborative environment where everyone can engage meaningfully with art and technology. TMAC integrates creation, production, presentation, education, conservation and dissemination practices and with a focus on community building and inclusivity.</p>
                <p>With year-round arts and cultural programming, open lab studios, equipment libraries, coworking and social areas, we provide the tools, space and freedom to play with art, media and new technologies–including film, videogames, audio, video, robotics, electronics and more.</p>
                <p>We are a charity – <a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=d106865">donate now</a> to support our programs!</p>

                <section id="member-list">

                  <div class="container">
                    <div class="orgs" id="members">
                      <div class="item member">
                        <a href="http://cfmdc.org">
                          <img class="img-fluid" src="/images/logos/july18_cfmdc_logo.jpg" alt>
                        </a>
                      </div>
                      <div class="item member">
                        <a href="http://charlesstreetvideo.com/">
                          <img class="img-fluid" src="/images/logos/CSV_logo.gif" alt>
                        </a>
                      </div>
                      <div class="item member">
                        <a href="http://dmg.to">
                          <img class="img-fluid" src="/images/logos/dmg_toronto_dames_making_games_logo.png" alt>
                        </a>
                      </div>
                      <div class="item member">
                        <a href="http://gammaspace.ca">
                          <img class="img-fluid" src="/images/logos/gamma_space_logo@8x.png" alt>
                        </a>
                      </div>
                    </div>
                  </div>
                </section>


              </div>


            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <dl style="text-align: center">
                    <dt>Address</dt>
                    <dd><a href="/location">32 Lisgar Street, Toronto</a></dd>
                    <dt>Centre Hours</dt>
                    <dd>10am–6pm Mon-Fri</dd>
                    <dd>Closed on all stat holidays.</dd>
                  </dl>
                  <p style="text-align: center">
                    <i class="fab fa-accessible-icon"></i>
                    <a href="https://policies.tomediaarts.org/procedure-manual/policies/accessibility">Accessibility information</a>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3>Contact us</h3>
                  <section id="contact">
                    <span>
                      <a href="mailto:info@tomediaarts.org">
                        <i class="fas fa-at"></i>
                      </a>
                    </span>
                    <span>
                      <a href="tel:6476896005">
                        <i class="fas fa-mobile-alt"></i>
                      </a>
                      <span class="tel">(647) 689-6005</span>
                    </span>
                  </section>
                </div>
                <div class="col-md-6">
                  <h3>Social</h3>
                  <section id="social">
                    <a href="https://www.instagram.com/tomediaarts/">
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/tomediaarts">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.facebook.com/TOMediaArts">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </section>
                </div>
              </div>
              <div class="cta">
                <div class="row">
                  <div class="col-md-6">
                    <h3>Space rentals</h3>
                    <p>Need space for an event, exhibition, or meeting? Check out our rates and space info.</p>
                    <p>
                      <a href="/space-rentals" class="btn btn-primary">Host an Event</a>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <h3>Visit TMAC</h3>
                    <p>Want to see what TMAC is all about? Curious about the possibilities? Come on inside!</p>
                    <p>
                      <a href class="btn btn-primary" onclick='Calendly.showPopupWidget("https://calendly.com/tomediaarts/space-tour");return false'>Book a tour</a>
                    </p>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </section>

      <div id="events">
        <section id="exhibitions">
          <div class="container">
            <h4 class="divider">Exhibitions &amp; Festivals</h4>
            <div class="event-grid exhibitions">
              <each loop="exhibition in dato.program">
                <if condition="exhibition.past !== true">
                  <div class="event exhibition" style='background-image: url(//{{ dato._meta.imgixHost + exhibition.featureImage.path }}?bm=normal&balph=60&blend={{ exhibition.onNow == true ? "6151FF" : "444444"}}); background-size: cover;' data-startDate="{{ Date.parse(exhibition.startDate) }}" class='{{ exhibition.canceled == true ? "canceled" : ""}}' >

                    <a href="/program/{{ exhibition.slug }}">
                      <div class="desc">
                        <div class="title">
                          <if condition="exhibition.member[0] && exhibition.presenter">
                            <p class="presenter">{{ exhibition.member[0].name }} &amp; {{ exhibition.presenter }}</p>
                          </if>
                          <elseif condition="exhibition.member[0]">
                            <p class="presenter">{{ exhibition.member[0].name }}</p>
                          </elseif>
                          <elseif condition="exhibition.presenter">
                            <p class="presenter">{{ exhibition.presenter }}</p>
                          </elseif>
                          <div class="register">
                            <p class="location">
                              <if condition="exhibition.onNow == true">
                                <p class="thisweek">On Now</p>
                              </if>
                              <else>
                                <p class="thisweek">Upcoming</p>
                              </else>
                            </p>
                          </div>
                          <!-- <if condition="exhibition.location[0]">
                            <p class="location">
                              <each loop='space in exhibition.location'>
                                <span class="space" style="background-color: #fff; color: #000; padding: 2px 4px;">
                                  {{ space.name }}
                                </span>
                              </each>
                            </p>
                          </if> -->
                        </div>
                        <h3> {{ exhibition.title }} </h3>

                        <div class="when">
                          <p class="date">
                            <span class="fas fa-fw fa-calendar-alt"></span>
                            <span class="date">{{ exhibition.humanTime}}</span>

                          </p>
                          <if condition="{{ exhibition.hours }}">
                            <p class="hours">
                              <span class="fas fa-fw fa-clock"></span>
                              <span>{{ exhibition.hours }}</span>
                            </p>
                          </if>
                          <if condition="{{ exhibition.ticketPrice }}">
                            <p class="tickets">
                              <span class="fas fa-fw fa-ticket-alt"></span>
                              <span>{{ exhibition.ticketPrice }}</span>
                            </p>
                          </if>
                        </div>
                        <div class="related">
                          <each loop='highlight, i of exhibition.highlights'>
                            <if condition="{{ dateFns.isBefore(highlight.endDateTimeParsed, new Date()) !== true}}">
                              <p class="highlight" data-date="{{ highlight.startDateTime }}">

                                <span class="date">
                                  {{ DateTime.fromISO(highlight.startDateTime).toFormat('LLLL d') }}

                                </span>
                                <span>
                                  {{ highlight.title }}
                                </span>
                              </p>
                            </if>
                          </each>
                        </div>
                        <div class="register"></div>
                      </div>
                    </a>
                  </div>
                </if>
              </each>

            </div>
          </div>
          <p class="past"><a class="btn btn-dark" href="/exhibitions">View Past Exhibitions</a></p>
        </section>

        <section id="daily-events">
          <div class="container">
            <h4 class="divider">Upcoming events</h4>
            <p>
              <span class="fas fa-fw fa-calendar-alt"></span>
              <a href="webcal://tomediaarts.org/ical.ics">Subscribe to calendar</a>
            </p>
            <div class="event-grid upcoming">
              <each loop="event in dato.event">
                <if condition="event.past !== true">
                  <include src="includes/event-grid.html"></include>
                </if>
              </each>
            </div>
          </div>
        </section>

        <p class="past"><a  class="btn btn-dark" href="/events">View Past Events</a></p>
      </div>


      <section id="history">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h2 id="history">History</h2>
              <div>
                <p>
                  <a href="/news">Read about our dispute with the City of Toronto and Urbancorp over the facility, and the settlement we reached in February 2018.</a>
                </p>
                <p>TMAC grew out of grassroots community support and in response to a need for an accessible and affordable centre dedicated to media art and technology.</p>
                <p>The idea for TMAC was first conceptualized in 2003, after almost 15 years of organizing. TMAC incorporated in 2011 and attained charitable status in 2013. Today, TMAC has organically grown into an integrated collaborative organization supporting its members, the West Queen West community, and all of Toronto’s media artists and artist-run centres.</p>
                <p>In 2014, with the support of the local community, City staff, <a href="http://active18.net">Active 18</a> and Councillor <a href="http://www.anabailao.com/developments">Ana Bailão</a>, TMAC, Urbancorp and the City of Toronto finalized an agreement that would provide the Edge on Triangle Park condominium a density bonus in exchange for a <strong>turnkey, purpose-built, 38,000 sq. ft. facility</strong> for TMAC.</p>
                <p>TMAC moved into its new facility in March 2018!</p>
              </div>
              <img class="swatch" src="/images/charity-default-profile-swatch-en.jpg" alt>
              <div>
                <p>
                  <strong><a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=d106865">Make a donation today</a> and immediately receive a charitable receipt through Canada Helps!</strong>
                </p>
              </div>
            </div>
            <div class="col-sm-4">
              <img class="img-fluid" src="/images/photos/elevator.jpg" alt style="margin-bottom: 1rem">
              <img class="img-fluid" src="/images/photos/TMAC-gallery.jpg" alt>
            </div>
          </div>
        </div>
      </section>
      <section id="post-header">
        <div class="container">
          <div class="row">
            <div class="col-md-8 content">
              <h2>Facility</h2>
              <p>Our multi-purpose facility offers shared spaces and amenities including:</p>
              <ul>
                <li>Café serving coffee, pastries and lunch daily from 7 a.m.</li>
                <li>Community gathering and event spaces overlooking Lisgar Park</li>
                <li>Classrooms for public talks, workshops, screenings, festivals and events</li>
                <li>Meeting rooms seating up to 14</li>
                <li>Coworking spaces for film festival and studio staff</li>
                <li>Shared resource and equipment libraries</li>
                <li>A temperature-controlled film vault and archive</li>
                <li>Technical and production facilities</li>
                <li>Four public galleries and <strong>exhibition spaces</strong></li>
                <li>A <strong>210-seat theatre</strong> designed by renowned architect Peter Smith, for screening independent and experimental works –&nbsp;coming 2019</li>
                <li>Studio apartment for visiting <strong>artist residencies</strong> –&nbsp;coming 2019</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section id="funders">
        <h4 class="divider">Funders</h4>
        <div class="orgs">
          <div class="item funder">
            <a href="http://www.pch.gc.ca/eng/1266037002102/1265993639778">
              <img class="img-fluid" src="/images/logos/funders/CanadianHeritage.jpg" alt>
            </a>
          </div>
          <div class="item funder">
            <a href="https://www.ontario.ca/">
              <img class="img-fluid" src="/images/logos/funders/ontario.jpg" alt>
            </a>
          </div>
          <div class="item funder">
            <a href="http://otf.ca">
              <img class="img-fluid" src="/images/logos/funders/ONTrillium.jpg" alt>
            </a>
          </div>
          <div class="item funder">
            <img class="img-fluid" src="/images/logos/funders/TD_logo.png" alt>
          </div>
        </div>
      </section>
    </main>
  </block>

  <block name="javascript">
    <script src="js/main.js"></script>
    <script src="/js/vendor/tinysort.js"></script>
    <script src="https://calendly.com/assets/external/widget.js"></script>
    <script>
      tinysort(".event-grid .exhibition",{data:"startdate", order:"asc"});
      tinysort(".event-grid .daily",{data:"startdate", order:"asc"});
      tinysort(".exhibition > .related .highlight",{data:"date", order:"asc"});
    </script>
  </block>
</extends>
