<extends src="layout.html">
  <block name="content">
    <header style="background-image:url(https://www.datocms-assets.com/5128/1552405618-small-yulischeidt-changeupjam2018-1405.jpg?&bm=normal&balph=20&auto=compress,format);">
      <h1>Toronto Media Arts Centre</h1>
    </header>
    <main>
      <!-- <div class="special-alert">
    </div> -->
    <section id="callout">
      <div class="container">
        <h3>A place to create and experience video, film, games and digital culture in Toronto’s West Queen West neighbourhood.</h3>
        <div class="actions">
          <div>
            <p>Get our weekly events &amp; exhibitions listings right in your inbox every Monday morning.</p>
            <p><a href="/mailing-list" class="btn btn-primary">Subscribe</a></p>
          </div>
          <div>
            <!-- <h3>Space rentals</h3> -->
            <p>Need space for an event, exhibition, or meeting? Check out our rates and space info.</p>
            <p>
              <a href="/space-rentals" class="btn btn-primary">Host an event</a>
            </p>
          </div>
          <div>
            <!-- <h3>Visit TMAC</h3> -->
            <p>Want to see what TMAC is all about? Curious about the possibilities? Come on inside!</p>
            <p>
              <a href class="btn btn-primary" onclick='Calendly.showPopupWidget("https://calendly.com/tomediaarts/space-tour");return false'>Book a tour</a>
            </p>
          </div>
        </div>
      </div>

    </section>


    <div id="events">

      <div class="container">
        <section id="exhibitions">
          <h4 class="divider">Exhibitions &amp; Festivals</h4>

          <div class="event-grid exhibitions">
            <each loop="exhibition in dato.program">
              <if condition="exhibition.past !== true">
                <div class="event exhibition" style='background-image: url(//{{ dato._meta.imgixHost + exhibition.featureImage.path }}?bm=normal&w=600&balph=60&blend={{ exhibition.onNow == true ? "6151FF" : "444444&mono=eeeeee"}}); background-size: cover;' data-startDate="{{ Date.parse(exhibition.startDate) }}" class='{{ exhibition.canceled == true ? "canceled" : ""}}' >

                  <a href="/program/{{ exhibition.slug }}">
                    <div class="desc">
                      <div class="title">
                        <if condition="exhibition.member[0] && exhibition.presenter">
                          <p class="presenter">{{ exhibition.member[0].name }} &amp; {{ exhibition.presenter }}</p>
                        </if>
                        <elseif condition="exhibition.member[0]">
                          <p class="presenter">{{ exhibition.member[0].name }}</p>
                        </elseif>
                        <elseif condition="exhibition.presenter">
                          <p class="presenter">{{ exhibition.presenter }}</p>
                        </elseif>
                      </div>
                      <h3> {{ exhibition.title }} </h3>

                      <div class="when">
                        <p class="date">
                          <span class="fas fa-fw fa-calendar-alt"></span>
                          <span class="date">{{ exhibition.humanTime}}</span>

                        </p>
                        <if condition="{{ exhibition.hours }}">
                          <p class="hours">
                            <span class="fas fa-fw fa-clock"></span>
                            <span>{{ exhibition.hours }}</span>
                          </p>
                        </if>
                        <if condition="{{ exhibition.ticketPrice }}">
                          <p class="tickets">
                            <span class="fas fa-fw fa-ticket-alt"></span>
                            <span>{{ exhibition.ticketPrice }}</span>
                          </p>
                        </if>
                      </div>
                    </div>
                  </a>
                </div>
              </if>
            </each>

          </div>
          <p class="past">
            <a href="/exhibitions">View all exhibitions</a>
          </p>
        </section>
        <section id="daily-events">
          <h4 class="divider">Events &amp; Workshops</h4>

          <div class="event-grid upcoming">
            <each loop="event in dato.event">
              <if condition="event.past !== true">
                <include src="includes/event-grid.html"></include>
              </if>
            </each>
          </div>
          <p class="past">
            <a href="/events">View all events</a>
          </p>
        </section>
      </div>
    </div>
  </main>
</block>
<block name="javascript">
  <script src="js/main.js"></script>
  <script src="/js/vendor/tinysort.js"></script>
  <script src="https://calendly.com/assets/external/widget.js"></script>
  <script>
    tinysort(".event-grid .exhibition",{data:"startdate", order:"asc"});
    tinysort(".event-grid .daily",{data:"startdate", order:"asc"});
    tinysort(".exhibition > .related .highlight",{data:"date", order:"asc"});
  </script>
</block>
</extends>
