<extends src="layout.html">
  <block name='meta'>
    <meta name='description' content="How to find the Toronto Media Arts Centre">
    <meta name='keywords' content='TMAC, toronto media arts centre, tmac address, 32 Lisgar'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='google-site-verification' content='ArLdqonWlRvHkvmHpdwdW3nxGnct3sJE--rDYC-Y0Mo'>
  </block>
  <block name="content">
    <header style="background-image:url(/images/outside.jpg); background-position: center top; height: 35vh">
      <h1> Toronto Media Arts Centre News</h1>
    </header>

    <main>
      <section id="spaces">
        <div class="container">

          <h2>How to find TMAC</h2>

          <div class="content">
            <div>

              <h3 id="transit">Transit</h3>
              <p><b>501 Queen streetcar</b>: Get off at <b>Abell Street</b>, just east of Gladstone. Head south through Lisgar Park.</p>
              <p><b>504 King streetcar</b>: Get off at <b>Sudbury Street</b>, and walk north/west along Sudbury to Lisgar Street. Walk up Lisgar Street to the front of the building.</p>

              <h3>Parking</h3>
              <p>There is ample paid parking nearby, including a <a href="https://parking.greenp.com/carpark/261_45-abell-street/">Green P lot</a> in the building, a lot accessible from the alley between Dovercourt and Lisgar off Sudbury, and street parking on both Lisgar Street and Abell Street.</p>
            </div>


            <div>
              <h3 id="address">Address</h3>
              <p>32 Lisgar Street, Toronto, ON, M6J 0C9 (<a href="https://goo.gl/maps/5nSbi2UVBa82">Google Maps</a>)</p>
              <h3 id="entrance">Entrance</h3>
              <p>The main entrance can be a bit tricky to find your first time here. It is <em>not directly off Lisgar</em>, but on the north side of the building facing the park. Our doors are east of the main condo entrance for 36 Lisgar.</p>
              <p>From Sudbury and Lisgar, head towards Queen Street until you are at the front of the condo building.</p>
              <p><b>Lost?</b> Call or text (647) 689-6005 and someone will be happy to assist.</p>
              <p>
                <a href="https://policies.tomediaarts.org/procedure-manual/policies/accessibility">Accessibility information</a>
              </p>

            </div>
          </div>
        </div>
        <div class="map">
          <iframe src="https://snazzymaps.com/embed/149757" width="100%" height="400px" style="border:none;"></iframe>

        </div>
      </section>
    </main>


  </block>
  <block name="javascript">
    <script src="https://calendly.com/assets/external/widget.js"></script>
  </block>

</extends>