<extends src="layout.html">
  <block name='meta'>
    <meta name='description' content="Rent space at Toronto Media Arts Centre">
    <meta name='keywords' content='TMAC, toronto media arts, toronto media arts cluster, urbancorp bakruptcy, tmac lawsuit'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='google-site-verification' content='ArLdqonWlRvHkvmHpdwdW3nxGnct3sJE--rDYC-Y0Mo'>
  </block>
  <block name="content">
    <header style="background-image:url(/images/photos/TMAC-gallery.jpg); background-position: center top; height: 35vh">
      <h1> Toronto Media Arts Centre News</h1>
    </header>

    <main>
      <section id="spaces">
        <div class="container">
          <p style="text-align: center">
            <a href="/">Back to home page</a>
          </p>
          <h3>How to find us</h3>
          <div class="row">
            <div class="col-lg-6">
              <div>
                <h4 id="transit"><a class="markdownIt-Anchor" href="#transit">#</a> Transit</h4>
                <p>501 Queen streetcar: Get off at <em>Abell Street</em>, just east of Gladstone. Head south through Lisgar Park.</p>
                <p>504 King streetcar: Get off at <em>Sudbury Street</em>, and walk north/west along Sudbury to Lisgar Street. Walk up Lisgar Street to the front of the building.</p>
              </div>
              <img src="/images/transit-map-to-tmac.png" class="responsive">
              <hr>
              <h4>Parking</h4>
              <p>There is a Green P lot right in the building, and paid street parking on both Lisgar Street and Abell Street.</p>
            </div>
            <div class="col-lg-6">
              <div>
                <h4 id="address"><a class="markdownIt-Anchor" href="#address">#</a> Address</h4>
                <p>32 Lisgar Street, Toronto, ON, M6J 0C9 (<a href="https://goo.gl/maps/5nSbi2UVBa82">Google Maps</a>)</p>
                <h4 id="entrance"><a class="markdownIt-Anchor" href="#entrance">#</a> Entrance</h4>
                <p>Our doors are east of the main condo entrance on the north side of the building, facing onto Lisgar Park (<em>not</em> off of Lisgar Street!).</p>
                <p>
                  <a href="https://policies.tomediaarts.org/policies/accessibility.html">Accessibility information</a>
                </p>
              </div>
              <img src="/images/door-map.jpg" class="responsive">
            </div>
          </div>
        </div>
      </section>
    </main>


  </block>
  <block name="javascript">
    <script src="https://calendly.com/assets/external/widget.js"></script>
  </block>

</extends>