<extends src="layout.html">
  <block name='meta'>
    <meta name='description' content="How to find the Toronto Media Arts Centre">
    <meta name='keywords' content='TMAC, toronto media arts centre, tmac address, 32 Lisgar'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='google-site-verification' content='ArLdqonWlRvHkvmHpdwdW3nxGnct3sJE--rDYC-Y0Mo'>
  </block>
  <block name="content">
    <header style="background-image:url(/images/outside.jpg); background-position: center top; height: 35vh">
      <h1> Toronto Media Arts Centre News</h1>
    </header>

    <main>
      <section id="spaces">
        <div class="container">
          <p style="text-align: center">
            <a href="/">Back to home page</a>
          </p>
          <h3>Sign Up</h3>
          <div class="row">
            <div class="col-lg-6">
              <!-- Begin Mailchimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="https://tomediaarts.us11.list-manage.com/subscribe/post?u=a11a58bffdfcead3161ea4d9d&amp;id=0f5e662ee0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="form-group">
                      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                      <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                    </div>
                    <div class="form-group">
                      <label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
                      <input type="text" value="" name="FNAME" class="form-control required" id="mce-FNAME">
                    </div>
                    <div class="form-group">
                      <label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
                      <input type="text" value="" name="LNAME" class="form-control required" id="mce-LNAME">
                    </div>
                    <div class="form-group">
                      <label for="mce-ORG">Organization </label>
                      <input type="text" value="" name="ORG" class="form-control" id="mce-ORG">
                    </div>
                    <div class="form-group">

                      <strong>What would you like to hear about? </strong>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" value="2" name="group[12545][2]" class="form-check-input" id="mce-group[12545]-12545-0">
                        <label for="mce-group[12545]-12545-0" class="form-check-label">Weekly Events &amp; Exhibitions</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" value="4" name="group[12545][4]" class="form-check-input" id="mce-group[12545]-12545-1">
                        <label for="mce-group[12545]-12545-1" class="form-check-label">Monthly Events Events &amp; Exhibitions</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" value="8" name="group[12545][8]" class="form-check-input" id="mce-group[12545]-12545-2">
                        <label for="mce-group[12545]-12545-2" class="form-check-label">News</label>
                      </div>
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a11a58bffdfcead3161ea4d9d_0f5e662ee0" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
                </form>
              </div>

              <!--End mc_embed_signup-->
            </div>
            <div class="col-lg-6"></div>
          </div>
        </div>
      </section>
    </main>


  </block>
  <block name="javascript">
    <script src="https://calendly.com/assets/external/widget.js"></script>
  </block>

</extends>