<extends src="layout.html">
  <block name='meta'>
    <meta name='description' content="News about Toronto Media Arts Centre.">
    <meta name='keywords' content='TMAC, toronto media arts, toronto media arts cluster, urbancorp bakruptcy, tmac lawsuit'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='google-site-verification' content='ArLdqonWlRvHkvmHpdwdW3nxGnct3sJE--rDYC-Y0Mo'>
  </block>
  <block name="content">
    <header style="background-image:url(/images/photos/main-gallery.jpg); background-position: center top; height: 45vh">
      <h1> Toronto Media Arts Centre News</h1>
    </header>

    <div class="container">
      <main>
        <h2>News</h2>
        <div class="content">
          <div class="stories">
            <p class="highlight">In May 2015, the City of Toronto and Urbancorp <strong>breached their obligations under a contract</strong> with TMAC. We’re suing both parties for the right to purchase the arts space as agreed. Here you’ll find updates about our progress towards a resolution that will bring arts back to the Queen West Triangle.</p>
            <each loop='article in dato.article'>
              <div class="article summary" data-pubDate="{{ article.date }}">
                <h3><a href="/news/{{ article.slug }}">{{ article.title }}</a></h3>
                <p class="date">{{ df(article.date, "UTC:mmmm d, yyyy", true) }}</p>
                <div class="body" md>{{ article.summary }}</div>
              </div>
            </each>
          </div>
          <div class="sidebar">

            <a href="/press">Read the latest media coverage</a>
            <h3>Connect with TMAC 👋</h3>
            <ul class="social">
              <li>
                <a href="http://twitter.com/TOMediaArts">Twitter</a>
              </li>
              <li>
                <a href="https://www.facebook.com/pages/Toronto-Media-Arts-Centre/842345815814723">Facebook</a>
              </li>
              <li>
                <a href="mailto:media@tomediaarts.org">Media inquiries</a>
              </li>
              <li>
                <a href="http://tomediaarts.us11.list-manage.com/subscribe/post?u=a11a58bffdfcead3161ea4d9d&amp;id=0f5e662ee0">Join Our Mailing List</a>
              </li>
            </ul>
            <h3>Timeline</h3>
            <div class="timeline">
              <ul class="timeline">
                <each loop="item in dato.timeline_item">
                  <li class="timeline-item" data-pubDate="{{ item.date }}">
                    <strong class="date">{{ df(item.date, "UTC:mmm yyyy", true)}}</strong>
                    <div md>{{ item.description }}</div>

                    <if condition="item.image">
                      <img src="https://{{ dato._meta.imgixHost + item.image.path }}" alt="">


                    </if>
                    <if condition="item.related">
                      <ul class="related">
                        <each loop="related in item.related">
                          <li>

                            <if condition="related.link">
                              <a href="{{ related.link }}">{{ related.title }}</a>
                            </if>
                            <if condition="related.slug">
                              <a href="/news/{{ related.slug }}">{{ related.title }}</a>
                            </if>
                          </li>
                      </ul>
                </each>
                </if>


                </li>
                </each>
              </ul>

            </div>
          </div>
        </div>
      </main>
    </div>
  </block>
  <block name="javascript">
    <script src="https://calendly.com/assets/external/widget.js"></script>

    <script src="/js/vendor/tinysort.js"></script>
    <script>
      tinysort('.article', { data: 'pubdate', order: 'desc' });
      tinysort('.timeline-item', { data: 'pubdate', order: 'desc' });
    </script>
  </block>
</extends>