<feed xmlns="http://www.w3.org/2005/Atom">
  <title>TMAC Events and Exhibitions Feed</title>
  <updated>{{ df(now, "UTC:yyyymmdd'T'HHMMss")}}</updated>
  <author>
    <name>TMAC Staff</name>
  </author>
  <each loop="event in dato.event">
    <entry>
      <title>{{event.title}}</title>
      <id>https://tomediaarts.org/event/{{ event.slug }}</id>
      <published>{{ df(event.createdAt, "yyyy-mm-dd'T'HHMMss")}}</published>
      <updated>{{ df(event.updatedAt, "yyyy-mm-dd'T'HHMMss")}}</updated>
      <content>{{ event.summary }} https://tomediaarts.org/event/{{ event.slug }}</content>
      <summary>{{ event.summary }}</summary>
    </entry>
  </each>
  <each loop="event in dato.program">
    <entry>
      <title>{{event.title}}</title>
      <id>https://tomediaarts.org/program/{{ event.slug }}</id>
      <published>{{ df(event.createdAt, "yyyy-mm-dd'T'HHMMss")}}</published>
      <updated>{{ df(event.updatedAt, "yyyy-mm-dd'T'HHMMss")}}</updated>
      <content>{{ event.programType }} starting {{ df(event.startDate, "UTC:mmmm d, yyyy", true)}} https://tomediaarts.org/program/{{ event.slug }}</content>
    </entry>
  </each>
</feed>