<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>TMAC Events and Exhibitions Feed</title>
  <link href="https://tomediaarts.org"/>
  <description>Public events and exhibitions held at the Toronto Media Arts Centre.</description>

  <updated>{{ df(now, "UTC:yyyymmdd'T'HHMMss")}}</updated>
  <author>
    <name>TMAC Staff</name>
  </author>
  <id>urn:uuid:60a76c80-d399-11d9-b93C-0003939e0af6</id>
  <each loop="event in dato.event">
    <entry>
      <title>{{event.title}}</title>
      <id>tmac_event_{{event.id}}</id>
      <published>{{ df(event.createdAt, "yyyymmdd'T'HHMMss")}}</published>
      <updated>{{ df(event.updatedAt, "yyyymmdd'T'HHMMss")}}</updated>
      <content>{{ event.summary }} https://tomediaarts.org/event/{{ event.slug }}</content>
      <summary>{{ event.summary }}</summary>
    </entry>
  </each>
  <each loop="event in dato.program">
    <entry>
      <title>{{event.title}}</title>
      <id>tmac_program_{{event.id}}</id>
      <published>{{ df(event.createdAt, "yyyymmdd'T'HHMMss")}}</published>
      <updated>{{ df(event.updatedAt, "yyyymmdd'T'HHMMss")}}</updated>
      <content>{{ event.programType }} starting {{ df(event.startDate, "UTC:mmmm d, yyyy", true)}} https://tomediaarts.org/program/{{ event.slug }}</content>
      <summary>{{ event.summary }}</summary>
    </entry>
  </each>
</feed>

