<extends src="layout.html">
  <block name='meta'>
    <meta name='description' content="Rent space at Toronto Media Arts Centre">
    <meta name='keywords' content='TMAC, toronto media arts, toronto media arts cluster, urbancorp bakruptcy, tmac lawsuit'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='google-site-verification' content='ArLdqonWlRvHkvmHpdwdW3nxGnct3sJE--rDYC-Y0Mo'>
  </block>
  <block name="content">
    <header style="background-image:url(/images/photos/mezz-2.jpg); background-position: center top; height: 50vh">
      <h1> Toronto Media Arts Centre Space Rentals </h1>
    </header>
    <main>
      <section>
        <div class="container">
          <h2>Space Rentals</h2>
          <div class="intro">
            <h3> Host your event at TMAC! </h3>
            <p>
              TMAC is available to rent for a wide range of events—from gallery openings and receptions to small meetups and hackathons, dining events to panel discussions.
            </p>
            <p>Located in the heart of the Queen West Triangle – a vibrant, arts-friendly neighbourhood close to downtown Toronto – TMAC offers event, meeting and exhibition spaces in a beautiful purpose-built media arts facility overlooking Lisgar Park.
            </p>

            <div class="row">
              <div class="col-md-4"><p class="well">We offer <b class="highlight">nonprofit/educational</b> discounts and welcome co-production and co-presentation inquiries</p></div>
              <div class="col-md-4"><p class="well">We are happy to support <b class="highlight">ad hoc groups</b> and offer PWYC pricing for community events</p></div>
              <div class="col-md-4"><p class="well">We encourage <b class="highlight">new artists</b> to apply for in-kind space. We want to support you and your work!</p></div>
            </div>

            <a href="/booking-request" class="btn btn-primary">Submit a booking request</a>
            <a href="" class="btn btn-primary" onclick="Calendly.showPopupWidget('https://calendly.com/tomediaarts/space-tour');return false">Schedule a tour</a>
            <!-- <img src="/images/event-layout.jpg" class="responsive" /> -->
            <a href="https://www.datocms-assets.com/5128/1551313423-tmac-event-space-floorplan-january-2019.pdf" class="btn btn-primary"><i class="fas fa-fw fa-file-download"></i> Floorplan (PDF)</a>
          </div>


          <div style="margin: 3rem 0">
            <div class="row">
              <div class="col-md-4">
                <h3>Spaces</h3>
                <ul>
                  <each loop="space in dato.room">
                    <if condition="space.rentable == true">

                      <li>
                        <a href="#{{ slugify(space.name, {lower: true}) }}">{{ space.name }}</a>
                      </li>
                    </if>
                  </each>
                </ul>
              </div>
              <div class="col-md-4">
                <h3>Services</h3>
                <ul>
                  <each loop="service in dato.service">
                    <li>
                      <a href="#{{ slugify(service.title, {lower: true}) }}">{{ service.title }}</a>
                    </li>
                  </each>
                </ul>
              </div>
            </div>
          </div>
          <each loop="space in dato.room">
            <if condition="space.rentable == true">
              <div class="room" id="{{ slugify(space.name, {lower: true}) }}">
                <h3>{{ space.name }}</h3>
                <div class="description" md>{{ space.rentalDescription }}</div>
                <div class="row">
                  <div class="col-lg-8">
                    <h4>Capacity</h4>
                    <dl>
                      <each loop="config in space.capacities">
                        <dt>{{ config.configurationName }}</dt>
                        <dd>{{ config.capacity}}</dd>
                      </each>
                      <if condition="{{ space.size }}">
                        <dt>Size</dt>
                        <dd>{{ numeral(space.size).format('0,0') }} sq. ft.</dd>
                      </if>
                    </dl>
                    <h4 class="rates">Rates</h4>
                    <table class="table">
                      <tr>
                        <th>For</th>
                        <th>Period</th>
                        <th>Rate</th>
                        <th>Nonprofit Rate</th>
                      </tr>
                      <each loop="rate in space.rates">
                        <tr>
                          <td>{{ rate.usageCategory }}</td>
                          <td>{{ rate.period.name }}</td>
                          <td class="rate">{{ rate.rate }}</td>
                          <td class="rate">
                            <if condition="{{ rate.nonprofitRateAllowed }}">
                              {{ rate.npRate }}
                            </if>
                            <else>
                              –
                            </else>
                          </td>
                        </tr>
                      </each>
                    </table>
                    <if condition="{{ space.availabilityCalendar }}">
                      <p>
                        <a href="{{ space.availabilityCalendar }}" class="btn btn-alt"><i class="fas fa-fw fa-calendar-alt"></i> View Availability</a>
                      </p>
                    </if>
                  </div>
                  <div class="col-lg-4">
                    <if condition="space.photo">
                      <img src="//{{ dato._meta.imgixHost + space.photo.path }}?auto=compress,format" class="responsive" />
                    </if>
                  </div>
                </div>
              </div>
            </if>
          </each>
          <div id="services">
            <h2>Services</h2>
            <each loop="service in dato.service">
              <div class="service" id="{{ slugify(service.title, {lower: true}) }}">

                <h3>{{ service.title }}</h3>
                <div class="description" md>{{ service.description }}</div>
                <if condition="service.options[0]">
                  <h4 class="rates">Rates</h4>
                  <table class="table">
                    <tr>
                      <th width="65%"></th>
                      <th>Rate</th>
                      <th>Nonprofit Rate</th>
                    </tr>
                    <each loop="option in service.options">
                      <tr>
                        <td>
                          <b>{{ option.title }}</b><br>
                          {{ option.description }}</td>
                          <td class="rate">{{ option.rate }}</td>
                          <td class="rate">
                            <if condition="{{ option.nonprofitRateAllowed }}">
                              {{ option.npRate }}
                            </if>
                            <else>
                              –
                            </else>
                          </td>
                        </tr>
                      </each>
                    </table>
                  </if>
                </div>
              </each>
            </div>
          </div>
        </section>
      </main>
    </block>
    <block name="javascript">
      <script src="https://calendly.com/assets/external/widget.js"></script>

      <!-- Start of tomediaarts Zendesk Widget script -->
      <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=7b7ba6bd-3736-48c6-9e06-e38899d2cdbe"> </script>
      <!-- End of tomediaarts Zendesk Widget script -->

    </block>

  </extends>