<extends src="layout.html">
  <block name="title">
    <title>TMAC</title>
  </block>
  <block name="og">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tomediaarts">
    <meta name="twitter:title" content="TMAC Mailing List Sign Up">
    <meta name="twitter:description" content="Sign up for the TMAC weekly event newsletter.">
    <meta name="twitter:image" content="https://www.datocms-assets.com/5128/1525840684-ee48de27-3698-4f7a-b111-3f30e83adc4c.jpg?bm=normal&balph=60&blend=322D5A">
  </block>
  <block name="content">
    <div class="event-detail-grid">
      <header style="background-image:url('https://www.datocms-assets.com/5128/1525840684-ee48de27-3698-4f7a-b111-3f30e83adc4c.jpg?bm=normal&balph=60&blend=322D5A&auto=compress'); background-size: cover;">
        <h1> Toronto Media Arts Centre </h1>
      </header>
      <main>

        <h3>Thank you!</h3>
        <p>Your subscription has been confirmed.</p>
      </main>
    </div>

  </block>

  <block name="javascript">
    <script src="/js/vendor/tinysort.js"></script>
    <script src="/js/vendor/luxon.min.js"></script>
    <script>
      tinysort('.session',{data:'startdate', order:'asc'});
      var DateTime = luxon.DateTime;
    </script>



  </block>
</extends>


