<extends src='layout.html'>

  <block name='meta'></block>

  <block name="nav"></block>

  <block name='content'>

    {{ JSON.stringify( events ) }}
    {{ JSON.stringify( exhibitions ) }}
    {{ JSON.stringify( eventsThisWeek ) }}
    <main class="">

      <!-- <each loop="event in events">
        <div class="event">
          {{ event.title }}
          <div class="time">
            <span class="date">
              {{df(dateFnsTz.utcToZonedTime(event.startDateTime, 'America/Toronto'), "mmmm d, h:MM tt")}}
            </span>
          </div>
          <span class="arrow">▼</span>
        </div>
      </each> -->

    </main>
  </block>
  <block name='footer'></block>



</extends>