<feed xmlns="http://www.w3.org/2005/Atom">
  <title>TMAC Weekly Events</title>
  <updated>{{ df(now, "UTC:yyyy-mm-dd'T'HH:MM:ss'Z'")}}</updated>
  <author>
    <name>TMAC Staff</name>
  </author>
  <id>https://tomediaarts.org/</id>
  <each loop="event in events">
    <entry>
      <title>{{event.title}}</title>
      <url>https://tomediaarts.org/event/{{ event.slug }}</url>
      <published>{{ df(event.createdAt, "yyyy-mm-dd'T'HH:MM:ss'Z'")}}</published>
      <updated>{{ df(event.updatedAt, "yyyy-mm-dd'T'HH:MM:ss'Z'")}}</updated>
      <description><b>{{ df(event.startDateTime, "UTC:mmmm d", true)}}</b>
        <if condition="{{ event.summary }}">
          {{ event.summary }}
        </if>
      </description>

    </entry>
  </each>
  <!-- <each loop="event in dato.program">
  <entry>
  <title>{{event.title}}, {{ event.programType }} starting {{ df(event.startDate, "UTC:mmmm d, yyyy", true)}} https://tomediaarts.org/program/{{ event.slug }}</title>
  <id>https://tomediaarts.org/program/{{ event.slug }}/{{ event.id }}</id>
  <published>{{ df(event.createdAt, "yyyy-mm-dd'T'HH:MM:ss'Z'")}}</published>
  <updated>{{ df(event.updatedAt, "yyyy-mm-dd'T'HH:MM:ss'Z'")}}</updated>
  <content>{{ event.programType }} starting {{ df(event.startDate, "UTC:mmmm d, yyyy", true)}} https://tomediaarts.org/program/{{ event.slug }}</content>
</entry>
</each> -->
</feed>