@import 'fonts.css';


:root {
  --color-blue: #130CB7;
  --color-primary-alt: #FF001A;

  /* max-widths for containers */
  --mini: 90vw;
  --mobile: 90vw;
  --tablet: 80vw;
  --desktop: 1024px;

  @custom-media --mini  (min-width: 280px) and (max-width: 374px);
  @custom-media --mobile  (min-width: 375px) and (max-width: 767px);
  @custom-media --tablet (min-width: 768px) and (max-width: 1024px);
  @custom-media --desktop (min-width: 1025px);
  @custom-media --desktop-xl (min-width: 1225px);
}



@define-mixin link {
  text-decoration: none;
  font-weight: normal;
}

@define-mixin upper {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

@define-mixin btn-primary {
  color: white;
  background-color: var(--color-blue);
  font-size: calc(12px + .02vw);
  display: inline-block;
  cursor: pointer;
  border: none;
}

@define-mixin btn-outline {
  border: solid 1px var(--color-blue);
  padding: 0.25rem 1.4rem;
  border-radius: 3rem;
}
a {
  color: var(--color-blue);
  &:active,&:hover {
    color: color(var(--color-blue) tint(10%));
  }
}
p, li {
  font-family: 'Work Sans', sans-serif;
  & b {
    font-weight: 700;
  }
  & a {
    font-weight: 700;
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  font-family: 'Space Text', sans-serif;
  font-weight: 700;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0;


  & .actions {
    padding: 1rem 0;
    margin: 1rem 0;
    border-top: solid 3px #eee;
    border-bottom: solid 3px #eee;
    & strong {
      text-transform: uppercase;
      background: #FAEA18;
    }
    & h4 {
      font-size: 20px;
      font-weight: 900;
    }
  }
  &#news {
    & img {
      max-width: 100%;
    }
    & .timeline {
      & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        & li {
          margin: 0 0 12px 0;
          padding: 0 0 12px 0;
          border-bottom: solid 1px #ccc;
          &:first-child {
            border-top: solid 1px #ccc;
            margin: 12px 0;
            padding: 12px 0;
          }
          & p:last-child {
            margin-bottom: 0;
          }
          & img {
            max-width: 100%;
            display: block;
            margin-top: 12px;
          }
        }
      }
    }
    & .toc {
      margin-top: 3rem;
      @media screen and (max-width: 525px) {
        display: none;
      }
      & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        & li {
          margin: 0 0 .5rem 0;
          padding: 0 0 .5rem 0;
          border-bottom: solid 1px #eee;
          font-size: 12px;
          &:last-child {
            border-bottom: none;
          }
          & a {
            display: inline;
            font-size: 14px;
          }
        }
      }
    }
    & blockquote {
      padding-left: 24px;
      margin-left: 24px;
      border-left: solid 4px #eee;
      font-style: italic;
    }
    & em {
      background: #FAEA18;
      font-style: normal;
    }
    & header {
      height: auto;
    }
    & .aside {
      margin-top: 3rem;
      & h3 {
        margin: 1rem 0;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 900;
      }
      & .social {
        margin: 0 0 2rem 0;
      }
      & .btn {
        margin: 0 auto;
        text-align: center;
        display: block;
        text-decoration: none;
      }
      & h4 {
        margin: 0;
        font-size: 14px;
        line-height: 1.3em;
        text-transform: uppercase;
      }
      & .timeline {
        font-size: 14px;
      }
      & .row {
        border-top: solid 1px #eee;
        padding: .5em 0;
      }
    }
    & h3 {
      margin-top: 2em;
    }
    &:first-child {
      margin-top: 0;
    }
    & h4 {
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 900;
      margin-top: 2rem;
    }
    & #cta, & .highlight {
      background-color: #fff695;
      padding: 1em
    }
    & .sidebar {
      & h3 {
        margin-top: .75em
      }
    }
    & .download-platforms {
      margin: 2em 0 0 0;
      text-align: left;
      & * {
        margin: 0
      }
    }
    & .content p:first-of-type {
      text-indent: 0
    }
    & p.no-indent {
      text-indent: 0
    }
    & .no-indent p {
      text-indent: 0
    }
  }
}

ul.media-coverage {
  margin: 0;
  padding: 0;
  & li {
    list-style: none;
    margin: 0 0 1rem 0;
    & a {
      font-weight: normal;
    }
  }
}

.cta {
  text-align: center;
  margin: 3rem auto;
}

h4.divider {
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

#letter-callout {
  text-align: center;
  font-size: 1.4rem;
  & a {
    background-color: transparent;
    text-decoration: underline;
  }
  & * {
    border-radius: 0;
  }
}

figure {
  height: 720px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

#nav {
  & h1 {
    display: none;
  }
  margin-top: 20px;
  display: block;
  & img {
    margin: 0 auto;
    max-width: 160px;
  }

}
#navbar {
  justify-content: center;
  flex: 1;
  display: flex;
  align-items: center;

  @nest & ul {
    text-align: right;
    margin: 0;
    padding: 0;

    @media only screen and (--mobile) {
      padding: 0;
      margin: 0;
      text-align: left;
      display: block;
      width: 100%;
      @nest & a {
        display: block
      }
    }
  }
  @nest & a {
    line-height: 3rem;
    text-decoration: none;

    &.current {
      border-bottom: solid 2px #000;
      font-weight: 900;
    }
  }
  @nest & li {
    padding: 0 1rem;
    list-style: none;
    display: inline;

    @media only screen and (--mobile) {
      border-bottom: solid 1px #eee;
      line-height: 2rem;
      list-style: none;
      margin: 0 0 .4rem 0;
      padding: 0;
      display: block
    }
  }
}

header {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  & img {
    width: 327px;
    margin: 0;
    padding: 4rem;
  }
  & h1 {
    display: none;
  }
  & .lead {
    min-width: 40vw;
    max-width: 80vw;
    font-size: calc(14px + .7vw);
    display: block;
    margin: 0 auto;
  }
  & .buttons {
    margin: 1em 0 0 0;
  }
  & img {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    float: none;
    text-align: center;
    display: block;
  }
}

.dates {
  & b display: block;
  font-size: 18px;
}

.download-platforms {
  margin: 0 0 30px 0;
  & a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  & .icon {
    font-size: 48px;
    margin: 0 20px;
  }
}

.my-btn {
  letter-spacing: .1vw;
  border-radius: .3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #0a223e;
  &.small {
    font-size: calc(14px);
  }
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.lead {
  font-weight: 400
}

main {
  & p a:link {
    text-decoration: none;
    color: var(--color-blue);
    background-color: color(var(--color-blue) tint(95%));
    font-weight: 400;
  }
  & .aside {
    & a {
      font-weight: normal;
    }
  }
  & h2 {
    /* text-transform: uppercase; */
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 38px;
    margin: 0 0 .25em 0;
    color: var(--color-blue);
    &.programming {
      font-size: 24px;
    }
  }
  & ul {
    list-style: square;
  }
  & #programming b {
    color: var(--color-blue);
  }
}

section {
  background: #fff;
  margin-top: 2em;
  margin-bottom: 2em;
  &#callout {
    margin: 0 0 2rem 0;
    padding: 3rem 0;
    text-align: center;
    background-color: #fbfbfb;
  }
  &#funders {
    margin: 2rem auto;
    width: 80vw;
    @nest & img {
      max-width: 50%
    }
  }
  &#post-header {
    background-image: url('/images/photos/south.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    & h2 {
      color: #fff
    }
    & .content {
      background: rgba(000, 000, 000, .6);
      color: #fff;
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }
}

footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  & .vcard {
    display: none;
  }
  & p {
    background: #fff;
    padding: 5px;
  }
}

.orgs {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  & .item {
    align-items: center;
    justify-content: center;
    max-width: 25%;
    @media screen and (min-width: 780px) {
      max-width: 200px;
      padding: .5rem
    }
  }
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  & p {
    margin: 0 auto;
    text-align: center;
    float: none;
  }
}


.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24em;
}

.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top  {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
.swatch {
  margin: 1rem auto;
  text-align: center;
  float: none;
  display: block;
}
.alert-success {
  border-radius: 0;
  background-color: #000;
  border: none;
  color: #fff;
  & a {
    color: #fff;
    font-weight: normal;
  }
}
#mc_embed_signup {
  display: flex;
  flex: 1 1 auto;
  & label {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
  }
}
.btn-primary {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  text-decoration: none;
  border-radius: 3rem;
  padding: .5rem 2rem;
  display: inline-block;
  margin: 1rem auto;
  &:hover {
    background-color: color(var(--color-blue) shade(10%));
  }
  @media screen and (min-width: 525px) {
    & + .btn-primary {
      margin-left: 2rem;
    }
  }
}

.row.space, .row.intro, .row.add-ons {
  margin: 5rem 0;
}
.row.intro {
  margin-top: 2rem;
}
img.responsive {
  max-width: 100%;
  display: block;
}
img.shadowed {
  border-radius: 4px;
  box-shadow: 3px 3px 3px #eee;
}
#about {
  & h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 36px;
  }
}
p > b.highlight {
  background-color: #fff695;
}

.event-grid {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 3rem 0;
  grid-auto-rows: 1fr;
  &.exhibitions {
    grid-template-columns: 1fr;
    @media (--tablet) {
      grid-template-columns: 1fr;
    }
    @media (--desktop) {
      grid-template-columns: 1fr 1fr;
    }
  }

& a {
    &:hover {
    text-decoration: underline;
  }
}
  @media (--tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  & > div {
    padding: 10px;

  }
  & .exhibition {
    & a .desc .when p {
      font-size: calc(10px + .5vw);
    }
  }
  & .event a {
    grid-template-areas: "image desc";
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    & span.canceled {
      position: relative;
      display: block;
      top: 0;
      right: 0;
      z-index: 999999;
      background: RGBA(229,63,61,.80);
      color: #fff;
      width: 100%;
      padding: 10px;
      font-size: 23px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 10px;
    }

    & .register {
      justify-content: space-between;
      margin-top: auto;
      display: flex;
      align-items: center;

      & .btn {
        margin: 0;
      }
      & .thisweek {
        background-color: rgba(0,0,0,.9);
        color: #fff;
        margin: 0;
        @mixin upper;
        font-weight: normal;
        font-family: "Space Text", sans-serif;
        padding: 0 8px;
      }
    }


    @nest & .desc {
      grid-area: desc;
      color: #fff;

      & small {
        line-height: normal;
        display: block;
        margin-bottom: 10px;
      }
    }
    @nest & .image {
      grid-area: image;
    }

    & .desc {

      @nest & p {
        margin: 0 0 .7rem 0;
        font-size: calc(14px + .5vw);
        &:last-child {
          margin: 0;
        }
        &.location {
          text-transform: uppercase;
          font-size: calc(10px + .5vw);
        }
        &.highlight {
          color: #FFE7EA;
          font-size: calc(10px + .5vw);
          margin: 1rem 0;
        }
      }

    }
    & .image {
      text-align: center;
      & img {
        max-width: 100%;
        width: 250px;
      }
      & h2, & h3 {
        margin: 0;
        color: #fe938c
      }
      & h2 {
        font-size: 2rem;

      }
    }
  }
}

#daily-events {

  & header {
    height: auto;
    text-align: center;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }

  & .event {
    & > * {
      text-shadow: 1px 1px #000;
    }
    & .btn-primary {
      background-color: #e83d37;
      border: none;
      color: #fff;
    }
    & .when {
      margin-bottom: 20px;
      & p {
        line-height: normal;
        margin: 0;
        &.time {
        }
      }
    }
  }
}


.nav-desktop, .nav-mobile {
  display: none;
}

@media (--tablet), (--desktop) {
  .nav-desktop {
    display: flex;
    justify-content: space-evenly;
    @nest & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      flex: 2 0 0;
    }
  }
}
/* close with x */
/* bg color light grey on down */

@media (--mini), (--mobile) {
  .nav-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    @nest & .nav-toggle {
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: 300;
      @nest & path, & use {
        fill: var(--color-blue);
      }
      @nest & .x {
        display: none;
      }
    }

    @nest & .nav-menu {
      z-index: 200;
      background-color: #fff;
      position: absolute;
      display: none;
      right: 0;
      width: 100%;

      @nest & a {
        color: var(--color-blue);
        display: block;
        padding: 0 22px;
        line-height: 72px;
        height: 72px;
        font-size: calc(16px + .5vw);
        width: 100%;
        &:active,
        &:hover {
          background-color: #eee;
          text-decoration: none;
        }
      }
    }
  }
}
@media (--tablet), (--desktop) {
  .nav-mobile {
    display: none;
  }
}



.header-container {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 900;
  &.inverse {
    background: var(--color-primary-alt);
    & .logo {
      & #logo_stroke use {
        fill: var(--color-primary-alt);
      }
      & use {
        fill: #fff;
      }
    }
    & .header {
      & .nav-desktop a {
        color: #fff;
      }
      & .nav ul li .sign-up {
        border: solid 1px #fff;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: var(--color-primary-alt)
        }
      }
      & .nav-mobile .nav-toggle {
        & #burg {
          @nest & path, & use {
            fill: #fff;
          }
        }
        & #x {
          @nest & path, & use {
            color: var(--color-primary-alt)
          }
        }
      }
    }
  }
}
.header {
  flex-wrap: wrap;
  padding: 10px;
  @media (--desktop) {
    flex-wrap: nowrap;
  };
  grid-area: header;
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex: 1;
  align-content: center;
  align-items: center;
  align-self: center;
  @nest & a {
    color: #000;
  }
  @nest & .logo {
    align-self: center;
    flex: 1;
    width: 50%;

    & img, & svg {
      width: 156px;
      max-width: 156px;
    }
  }
  @nest & .nav {
    width: 100%;
    @media (--mini), (--mobile) {
      & .dropdown-toggle:before {
        content:'\2630';
        width: 32px;
        height: 32px;
        color: var(--color-blue);
        font-size: 56px;
        float: right;
      }
    }
    @media (--tablet), (--desktop) {
      flex: 1;
    }
    @nest & ul {
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      @media (--tablet), (--desktop) {
        justify-items: flex-end;
        justify-content: space-between;
      }
      @nest & li {
        align-self: center;
        display: flex;
        @media (--tablet), (--desktop) {
          margin-left: auto;
        }
        @nest & .sign-up {
          @mixin btn-outline;
          &:hover {
            background-color: var(--color-blue);
            color: #fff;
          }
          &:active {
            background-color: color(var(--color-blue) shade(15%));
            color: #fff;
          }
        }
      }
      @nest & a {
        @mixin link;
        @mixin upper;
        font-size: calc(12px + .04vw);
      }
    }
  }
  @nest & li {
    display: flex;
    &.home a {
      border: solid 2px;
      padding: .55rem 1rem;
    }
  }
}

.button, a.button {
  color: var(--color-blue);
  text-decoration: none;
  font-family: 'Avenir Next Medium', sans-serif;
  text-decoration: none;
  padding: .8rem 1.6rem;
  border-radius: 3rem;
  @mixin upper;
  cursor: pointer;
}
/* @todo make this a mixin */
.button-inline {
  padding: .8rem 1.6rem;
  border-radius: 3rem;
  border: none;
  @mixin upper;
}

.inverse .button,
.inverse .button-inline
{
  /* border: none; */
  border: solid 1px #fff;
  color: #774CBC;
  background-color: #fff;

  &:active {
    background-color: #774CBC;
    color: #fff;
    border: solid 1px #fff;
  }
  &:hover {
    color: #774CBC;
    border: solid 1px color(#774CBC tint(80%));

  }
}

.button-primary, a.button-primary {
  @mixin btn-primary;
  &:hover {
    background-color: color(var(--color-blue) shade(10%));
  }
}

.btn-outline {
  @mixin btn-outline;
  color: #fff;
  &:hover {
    background-color: var(--color-blue);
    color: #fff;
  }
  &:active {
    background-color: color(var(--color-blue) shade(15%));
    color: #fff;
  }
}

.inverse .card .button {
  @mixin btn-primary
}

p.past {
  text-align: center;
}

#shopify {
  background: black;
  height: 100vh;
  margin: 0;
  padding: 0;

  @nest & img {
    height: 100vh;
    width: 100vw;
  }
  @nest & .header {
    display:none;
  }
}
#events_today {
  background: #000;
  @nest & section {
    margin: 0;
  }
  @nest & .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  @nest & #events {
    margin: 0;
  }
  @nest & section {
    background: black
  }
  @nest & .header {
    display:none;
  }
  @nest & .event-grid {
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    @nest &.exhibitions {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 80px 1fr;
      @nest & h1 {
        grid-column: 1 / 5;
        grid-row: 1;
        color: #fff;
        text-align: center;
        align-self: center;
        margin: 0;
      }
      @nest & .event {
        @nest & h3 {
          font-size: 80px;
        }
        @nest & a .desc .when p {
          font-size: 28px;
        }
      }
    }

    @nest & .event {
      @nest & .desc small {
        font-size: 24px;
      }
      @nest & h3 {
        font-size: 40px;
      }
      @nest & p.thisweek {
        padding: 4px 12px;
        font-size: 56px;
      }
      @nest & .location {
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
}
#signage_blank {
  background-color: black;
  @nest & .container {
    display: none;
  }
}



body#_program {
  @nest & #schedule {
    @nest & h4 {
      font-size: calc(14px + .02vw);
      font-weight: 900;
      color: var(--color-blue);
    }
  }
}

#social {
  display: flex;
  justify-content: flex-start;
  @nest & a {
    /* justify-content: space-evenly;
    align-content: center; */
    flex: 1 0 33.3333%;
    font-size: 36px;
  }
}