<extends src='../layout_signage.html'>
  <block name='content'>
    <main class="slider event-grid" style="margin: 0 !important">
      
      <img src="../images/signage/blackout.jpg" />
      <img src="../images/signage/annette.jpg" />
    </main>
  </block>
</extends>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
<style>
.tns-visually-hidden {
  display: none;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
<script>

  var slider = tns({
    nav: false,
    speed: 2500,
    mode: 'gallery',
    autoplayTimeout: 5000,
    animateDelay: 5000,
    autoplay: true,
    controls: false,
    autoplayButtonOutput: false,
  });
  slider.play();
</script>
