<extends src='../layout_signage.html'>
  <block name='content'>
    <main class="slider event-grid" style="margin: 0 !important">

      <img src="../images/signage/bbf1.jpg" />
      <img src="../images/signage/bbf2.jpg" />
      <img src="../images/signage/bbf3.jpg" />
      <img src="../images/signage/cfmdc-directional.jpg" />
      <img src="../images/signage/csv-directional.jpg" />
      <img src="../images/signage/dmg-directional.jpg" />
      <img src="../images/signage/gamma-directional.jpg" />
    </main>
  </block>
</extends>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
<style>
  .tns-visually-hidden {
    display: none;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
<script>

  var slider = tns({
    nav: false,
    speed: 2500,
    mode: 'gallery',
    autoplayTimeout: 5000,
    animateDelay: 5000,
    autoplay: true,
    controls: false,
    autoplayButtonOutput: false,
  });
  slider.play();
</script>